<div id="admin-listing">
   <% if current_user.eligible_sysadmin?%>
   <div class="section">
      <div class="import">
        <h2>Recently Approved Projects</h2> 
        <%= button_to "Import Mediaflux Projects", project_import_path, method: "put", class: "btn btn-dark btn-sm" %>
      </div>
      <% if !@all_projects.empty? %>
       <%= render partial: "projects_listing", locals: { projects: @all_projects.sort_by(&:updated_at).reverse,  table_id: "projects-listing-approved"} %>
      <% else %>
        <p> (none) </p>
      <% end %>
   </div>
   <%end%>
</div>