<div class="download-item" >
  <div class="title">
    <%= user_request.download_link %>
  </div>
  <div class="details">
    <div class="expiration"><%= user_request.expiration %></div>
    <div class="size">
      <%= user_request.size %>
    </div>
  </div>
</div>
