<div class="download-item" >
  <div class="title" onclick="log_plausible_download()">
    <%= inventory_request_presenter.download_link %>
  </div>
  <div class="details">
    <div class="expiration"><%= inventory_request_presenter.expiration %></div>
    <div class="size">
      <%= inventory_request_presenter.size %>
    </div>
  </div>
</div>
