<% if projects.count == 0 %>
  <%= render :partial => "startup_page" %>
<% else %>
  <div class="table">
    <table id="<%= table_id %>" width="100%" role="table"> <!-- width is needed to override datatables calculation -->
      <thead>
        <tr class="project heading screenreader-only" role="rowheader">
          <th>display</th>
          <th>title</th>
          <th>status</th>
          <th>type</td>
          <th>role</th>
          <th>download</th>
          <th>activity</th>
          <th>quota usage</th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => "project_list_view", :collection => projects, :as => :project %>
      </tbody>
    </table>
  </div>
<% end %>

