<div class="table">
   <table id="<%= table_id %>" width="100%"> <!-- width is needed to override datatables calculation -->
   <thead>
      <tr class="project heading"></tr>
   </thead>
   <tbody>
      <% if projects.count == 0 %>
         <tr class="project" >
            <td class="project-row">
               <div class="project-details">
                  <div class="title">
                     No projects
                  </div>
               </div>
            </td>
         </tr>
      <% else %>
         <%= render :partial => "project_list_view", :collection => projects, :as => :project %>
      <% end %>
   </tbody>
   </table>
</div>
