<div class="startup-content">
  <div class="startup-page">
    <h1>No Projects Yet</h1>
    <div class="startup-page-image">
      <%= image_tag("startup_image.svg", alt: "") %>
    </div>
    <div class="startup-prompt">
      <a href="<%= new_project_project_info_path %>">Start a new project</a> to see it listed here
    </div>
  </div>
</div>