<div class="startup-page">
  <h1>No Projects Yet</h1>
  <div class="startup-page-image"></div>
  <div class="startup-prompt">
    <a href="#">Start a new project</a> to see it listed here
  </div>
</div>