<nav>
  <ul class="breadcrumbs">
    <% breadcrumbs.each do |crumb| %>
     <li>
      <% if crumb.link? %>
        <%= link_to crumb.name, crumb.path, class: "breadcrumb-link" %>
      <% else %>
        <span class="breadcrumb-page inactive">
          <%= crumb.name %>
        </span>
      <% end %>
     </li>
     <% unless crumb == breadcrumbs.last %>
       <li aria-hidden="true">></li>
     <% end %>
    <% end %>
  </ul>
</nav>