<footer>
  <div class="p-2 bg-light">
    <%= link_to "Roles", roles_path %>
  </div>
  <div class="p-2 bg-light">
    &copy; <%= Date.current.year %> The Trustees of Princeton University
  </div>
</footer>

