<header>
<div id="header">
  <nav>
    <a href="/"><%= image_tag("TigerData-LOGO-KO_wide2.svg", alt: "TigerData logo", size: "150x100", id: "logo") %></a>
    <div class="body">
    <%= link_to "Home", root_path, class: "navbar-brand"%>
    <% if current_user %>
    <lux-library-header app-name="ORCID@Princeton" abbr-name="LTR" theme="dark">
      <lux-menu-bar type="main-menu" :menu-items="[
        {name: 'Home', component: 'Home', href: '/'},
            {name: 'Logout', component: 'Logout', href: '<%= main_app.destroy_user_session_path %> '}
          ]}
        ]"
      ></lux-menu-bar>
    </lux-library-header>
    <% else %>
      <%= button_to "Log In", user_cas_omniauth_authorize_path, class: "btn btn-warning btn-sm" %>
    <% end %>
    </div>
  </nav>
</div>
</header>
