<nav>
  <div class="lux">
    <a href="/"><%= image_tag("TigerData-LOGO-KO_wide2.svg", alt: "TigerData logo", size: "150x100", id: "logo") %></a>
    <% if current_user %>
      TEST
      <lux-library-header app-name="TigerData" abbr-name="TD" theme="dark">
        <lux-menu-bar type="main-menu" :menu-items="[
          {name: 'Home', component: 'Home', href: '/'},
          {name: '<%= current_user.display_name %>', component: 'Account', href: '/account/', children: [
            {name: 'Profile', component: 'Account', href: '/account/'},
            {name: 'Logout', component: 'Logout', href: '<%= main_app.destroy_user_session_path %> '}
            ]}
          ]"
        ></lux-menu-bar>
      </lux-library-header>
    <% else %>
      <%= button_to "Log In", user_cas_omniauth_authorize_path, class: "btn btn-warning btn-sm" %>
    <% end %>
  </div>
</nav>
