<div id="admin-listing">
   <% if current_user.eligible_sysadmin?%>
   <div class="section">
      <h2>Pending Projects</h2>
      <% if !@pending_projects.empty? %>
         <%= render partial: "projects_listing", locals: { projects: @pending_projects} %>
      <% else %>
         <p> (none) </p>
      <% end %>
      </div>
      <div class="section">
      <h2>Recently Approved Projects</h2>
      <% if !@approved_projects.empty? %>
       <%= render partial: "projects_listing", locals: { projects: @approved_projects} %>
      <% else %>
        <p> (none) </p>
      <% end %>
   </div>
   <% unless current_user.superuser? %>
   <%= render partial: "recent_activity" %>
   <% end %>
   <%end%>
</div>