<div class="download-item" >
  <div class="title">
    <%= download.request_details["project_title"] %>
  </div>
  <div class="details">
    <div class="expiration">Expires in 30 days</div>
    <div class="size">900 MB</div>
  </div>
</div>
