<div class="download-item" >
  <div class="title">
    <%= download.request_details["project_title"] %>
  </div>
  <div class="details">
    <div class="expiration">Expires in <%= time_ago_in_words(download.completion_time + 7.days)%></div>
    <div class="size"><!-- TODO: Need size later --></div>
  </div>
</div>
