<div class="alert alert-danger">
  <h2>TigerData is undergoing scheduled maintenance</h2>
  <p>All TigerData systems are temporarily unavailable for routine maintenance. Look for updates from the TIGERDATA-USERS listserv, or if you have any questions or concerns, please contact us at <%= link_to("tigerdata@princeton.edu", "mailto:tigerdata@princeton.edu") %>.</p>
</div>