<div class="table">
  <table id="<%= table_id %>" >
  <caption style="caption-side: top;">

    <div class="container-fluid">
      <div class="row">

        <div class="col-6" style="align-content: center;">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Pending</a>
            </li>
          </ul>
        </div>

        <div class="col-6">
          <form class="container-fluid" role="search">
            <div class="row">
              <div class="col-10">

                <div class="input-group">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="filter-input-text" placeholder="Search by project titles, roles, project types">
                    <label for="filter-input-text">Search by project titles, roles, project types</label>
                  </div>
                  <span class="input-group-text">@</span>
                </div>
              </div>

              <div class="col-2">
                <button class="btn btn-primary" type="submit" style="height:100%;">Sort</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </caption>
  <thead>
    <tr class="project heading">
        <th>title</th>
        <th>status</th>
        <th>type</td>
        <th>role</th>
        <th>download</th>
        <th>activity</th>
        <th>quota_usage</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "project_list_view", :collection => projects, :as => :project %>
  </tbody>
  </table>
</div>
