Welcome to TigerData

<%= image_tag("logo-300-200.png", alt: "TigerData logo", size: "300x200") %>

<button onclick="test_jquery()" id="test-jquery" class="btn btn-primary">Test jQuery</button>

<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>