<h1>TigerData</h1>

<p>
    Welcome to the TigerData user portal.
    <% unless current_user %>
        Please log in.
    <% end %>
</p>

<%= image_tag("logo-300-200.png", alt: "TigerData logo", size: "300x200") %>

<button id="test-jquery" class="btn btn-primary">Test jQuery</button>

<ul>
    <% @projects.each do |project| %>
       <li><%= project[:name] %></li>
    <% end %>
</ul>
