<h1>TigerData</h1>

<p>
    Welcome to the TigerData user portal.
    <% unless current_user %>
        Please log in.
    <% end %>
</p>

<%= image_tag("logo-300-200.png", alt: "TigerData logo", size: "300x200") %>

<button id="test-jquery" class="btn btn-primary">Test jQuery</button>

<ul>
    <% @projects.each do |project| %>
       <li><%= project[:name] %></li>
    <% end %>
</ul>

<% if current_user %>
    Dashboards:
    <ul>
        <%# TODO: Add a helper method on user for this? #%>
        <% current_user.allowed_roles.map(&:role).map(&:name).each do |role| %>
            <li><%= link_to role, dashboards_path(role: role.downcase.gsub(/\W/, "-")) %></li>
        <% end %>
    </ul>
<% end %>
