<div id="welcome">
  <div class="welcome-portal">
      <div class="welcome-left">
        <div class="welcome-text">
          <div class="welcome-heading">
              <%= render partial: "login_disabled" if Flipflop.disable_login? %>
              <h3>Welcome to</h3>
              <h1>TigerData Web Portal</h1>
          </div>
          <div class="welcome-body"> 
            <p>TigerData is a data management service for the Princeton research community that includes a suite of software tools and scalable, tiered storage to enable the organization, description, storage, sharing, and long-term sustainability of research and administrative data. </p>
            <p>It enables the things you want to do (with your data), and makes it easier to do the things you have to do.</p>
          </div>
          <%= button_to "Learn More", "https://tigerdata.princeton.edu" %>

          <div class="welcome-warn">
              <p>Log in is currently limited to early adopters. <%= link_to "Contact us", "mailto:td-frontend@princeton.edu" %> for more information.</p>
          </div>
        </div>
      </div>
      <div class="welcome-right">
          <div class="welcome-image"></div> <!-- image displayed in welcome_portal.scss -->
      </div>
  </div>
</div>
