<h1>Styles Preview</h1>
<p>This page shows the styles that have been implemented for this site's look and feel.</p>

<h1>Heading Level 1</h1>
<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<h5>Heading Level 5</h5>
<h6>Heading Level 6</h6>

<h2>Colors</h2>

<div class="colors-section">
<div class="princeton-orange">Princeton Orange</div>
<div class="princeton-orange-80">Princeton Orange 80</div>
<div class="princeton-orange-20">Princeton Orange 20</div>

<div class="cool-gray">Cool Gray</div>
<div class="cool-gray-80">Cool Gray 80</div>
<div class="cool-gray-60">Cool Gray 60</div>

<div class="gray-100">Gray 100</div>
<div class="gray-60">Gray 60</div>
<div class="gray-20">Gray 20</div>
<div class="gray-10">Gray 10</div>

<div class="white">White</div>

<div class="green-dark">Green Dark</div>
<div class="red-dark">Red Dark</div>
<div class="yellow">Yello</div>
<div class="blue">Blue</div>
<div class="light-blue">Light Blue</div>

<div class="status-success">Status Success</div>
<div class="status-error">Status Error</div>
<div class="status-warning">Status Warning</div>
<div class="status-info">Status Info</div>
</div>
