<h1>Styles Preview</h1>
<p>This page shows the styles that have been implemented for this site's look and feel.</p>
<h1>Heading Level 1</h1>
<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<h5>Heading Level 5</h5>
<h6>Heading Level 6</h6>
<h2>Colors</h2>
<div class="colors-section">
   <div class="princeton-orange">Princeton Orange</div>
   <div class="princeton-orange-80">Princeton Orange 80</div>
   <div class="princeton-orange-20">Princeton Orange 20</div>
   <div class="cool-gray">Cool Gray</div>
   <div class="cool-gray-80">Cool Gray 80</div>
   <div class="cool-gray-60">Cool Gray 60</div>
   <div class="gray-100">Gray 100</div>
   <div class="gray-60">Gray 60</div>
   <div class="gray-20">Gray 20</div>
   <div class="gray-10">Gray 10</div>
   <div class="white">White</div>
   <div class="green-dark">Green Dark</div>
   <div class="red-dark">Red Dark</div>
   <div class="yellow">Yello</div>
   <div class="blue">Blue</div>
   <div class="light-blue">Light Blue</div>
   <div class="status-success">Status Success</div>
   <div class="status-error">Status Error</div>
   <div class="status-warning">Status Warning</div>
   <div class="status-info">Status Info</div>
</div>
<h2>Projects Listing Preview</h2>
<table  class="table" id="projects-listing">
   <thead>
      <tr class="project heading">
         <th>title</th>
         <th>status</th>
         <th>type</td>
         <th>role</th>
         <th>download</th>
         <th>activity</th>
      </tr>
   </thead>
   <tbody>
      <tr class="project">
         <td>
            <table class="fixed-table">
               <tr>
                  <td>
                     <a href="#">
                        <h2>Exploration of the parameter space of quasisymmetric stellarator vacuum fields through adjoint optimisation</h2>
                     </a>
                  </td>
               </tr>
            </table>
         </td>
         <div class="details">
            <td class="status active">Active</td>
            <td class="project-type">Standard</td>
            <td class="user-role">Data User</td>
            <td class="last-download">Prepared 1 day ago</td>
            <td class="last-activity">24 minutes ago</td>
         </div>
      </tr>
      <tr class="project">
         <td>
            <table class="fixed-table">
               <tr>
                  <td>
                     <a href="#">
                        <h2>Data and code for 'Hydrological cycle amplification reshapes warming-driven oxygen loss in Atlantic Ocean'</h2>
                     </a>
                  </td>
               </tr>
            </table>
         </td>
         <td class="status approved details">Approved</td>
         <td class="project-type details">Provisional</td>
         <td class="user-role details">Data Sponsor</td>
         <td class="last-download details">Prepared 21 days ago</td>
         <td class="last-activity details">13 hours ago</td>
      </tr>
      <tr class="project">
         <td>
            <table class="fixed-table">
               <tr>
                  <td>
                     <a href="#">
                        <h2>Derrida's Margins datasets</h2>
                     </a>
                  </td>
               </tr>
            </table>
         </td>
         <td class="status pending details">Pending</td>
         <td class="project-type details">Requested Standard</td>
         <td class="user-role details">Data Sponsor, Data Manager, Data User</td>
         <td class="last-download details">Never requested</td>
         <td class="last-activity details">2 days ago</td>
      </tr>
      <tr class="project last">
         <td>
            <table class="fixed-table">
               <tr>
                  <td>
                     <a href="#">
                        <h2>Supporting GFDL data for Southern Ocean Freshwater release model experiments Initiative (SOFIA) and	Supporting data for Baldwin et al 2019 "Temporally Compound Heat Waves and Global Warming: An Emerging Hazard"</h2>
                     </a>
                  </td>
               </tr>
            </table>
         </td>
         <td class="status details rejected">Rejected</td>
         <td class="project-type details">Provisional</td>
         <td class="user-role details">Data Sponsor, Data Manager</td>
         <td class="last-download details">Prepared 7 days ago</td>
         <td class="last-activity details">2 days ago</td>
      </tr>
   </table>
</div>