<h1>New Project Requests</h1>
<h2>Draft Requests</h2>
<%= render partial: "request_list", locals: {request_list: @draft_requests } %>
<h2>Submitted Requests</h2>
<%= render partial: "request_list", locals: {request_list: @submitted_requests } %>
