<%= render 'form_errors' %>
<%= render 'data_list' %>

<div class="container" id="approve">
  <label for="mediaflux_id" class="form-label">Mediaflux ID</label>
  <input class="form-control" type="text" name="mediaflux_id"></input>
    <button type="submit" class="btn btn-primary">Approve </button>
</div>
