<p> TODO show level by level browser here </p>
<div class="table project-files">
    <div class="lux">
      <file-browser :files='<%= @files.map{|file| {id: file.id, name: file.name, path: file.path_only, size: number_to_human_size(file.size), last_modified: file.last_modified, collection: file.collection}}.to_json %>'
                    directory-list-url="<%= project_directory_listing_url(@project) %>"
                    current-path="<%= @presenter.project_directory %>"
                    />
    </div>
</div>