<div popover="auto" id="request-more-storage" class="pul-popover request-more-storage-modal">
  <div class="request-heading-section">
    <div class="request-heading">Storage Increase Request</div>
    <div>
      <input type=button popovertarget="request-more-storage" id="request-more-storage-close" popovertargetaction="hide" class="pul-popover-close" data="cancel"></input>
    </div>
  </div>
</div>
