  <div class="pending-project">
  <h2> Project Approval Received </h2>

    <p>Thank you for your approval.</p>

    <p>The Data Sponsor and Data Manager will be notified shortly.</p>

    <p>If there are any issues in confirming the Active status of the project, you will receive a message at td-support@princeton.edu</p>

    <%= link_to "Return to Dashboard", dashboard_path, class: "btn btn-primary btn-sm" %>

  </div>
