  <div class="pending-project">
  <h2> New Project Request Received </h2>

    <p>Thank you for your submission.</p>

    <p>Your request is in the queue. Please allow 5 business days for our team to review your needs and set everything up.</p>

    <p>You can check up on your project status and make revisions at any time from your TigerData dashboard. 
    
    If you have questions, please contact the team at <%= mail_to "tigerdata@princeton.edu" %>.</p>

    <%= link_to "Return to Dashboard", dashboard_path, class: "btn btn-primary btn-sm" %>

  </div>
