---
development:
  adapter: async

test:
  adapter: test

staging: &staging
  adapter: redis
  url: redis://<%= ENV['TIGER_DATA_REDIS_URL'] || 'localhost' %>:<%= ENV['TIGER_DATA_REDIS_PORT'] || '6379' %>/<%= ENV['TIGER_DATA_REDIS_DB'] || 0 %>
  channel_prefix: tigerdata_staging

qa:
  <<: *staging
  channel_prefix: tigerdata_qa

production:
  <<: *staging
  channel_prefix: tigerdata_production
