---
production:
  api_root: "tigerdata"
  api_hidden_root: <%= ENV["MEDIAFLUX_HIDDEN_ROOT"] || '/princeton' %>
  api_root_ns: <%= ENV["MEDIAFLUX_ROOT_NS"] || '/princeton/tigerdataNS' %>
  api_root_collection: <%= ENV["MEDIAFLUX_ROOT_COLLECTION"] || 'path=/princeton/tigerdata' %>
  api_root_collection_name: <%= ENV["MEDIAFLUX_ROOT_COLLECTION"] || 'tigerdata' %>
  api_root_collection_namespace: <%= ENV["MEDIAFLUX_ROOT_COLLECTION_NAMESPACE"] || '/princeton' %>
  api_transport: <%= ENV["MEDIAFLUX_TRANSPORT"] || 'https' %>
  api_host: <%= ENV["MEDIAFLUX_HOST"] %>
  api_port: <%= ENV["MEDIAFLUX_PORT"] || 443 %>

  # Alternate to production is real production
  api_alternate_hidden_root: <%= ENV["MEDIAFLUX_ALTERNATE_HIDDEN_ROOT"] || '/td-prod-001' %>
  api_alternate_root_ns: <%= ENV["MEDIAFLUX_ALTERNATE_ROOT_NS"] || '/td-prod-001/tigerdataNS' %>
  api_alternate_root_collection: <%= ENV["MEDIAFLUX_ALTERNATE_ROOT_COLLECTION"] || 'path=/td-prod-001/tigerdata' %>
  api_alternate_root_collection_name: <%= ENV["MEDIAFLUX_ALTERNATE_ROOT_COLLECTION"] || 'tigerdata' %>
  api_alternate_root_collection_namespace: <%= ENV["MEDIAFLUX_ALTERNATE_ROOT_COLLECTION_NAMESPACE"] || '/td-prod-001' %>
  api_alternate_transport: <%= ENV["MEDIAFLUX_ALTERNATE_TRANSPORT"] || 'https' %>
  api_alternate_host: <%= ENV["MEDIAFLUX_ALTERNATE_HOST"] %>
  api_alternate_port: <%= ENV["MEDIAFLUX_ALTERNATE_PORT"] || 443 %>

  api_domain: <%= ENV["MEDIAFLUX_DOMAIN"] %>
  api_user: <%= ENV["MEDIAFLUX_USER"] %>
  api_password: <%= ENV["MEDIAFLUX_PASSWORD"] %>
  shared_files_location: <%= ENV["SHARED_FILES_MOUNT"] || '/mnt/nfs/tigerdata' %>
qa:
  api_root: "tigerdata"
  api_hidden_root: "/td-qa-001"
  api_root_to_clean: "/td-qa-001/qa"
  api_root_ns: <%= ENV["MEDIAFLUX_ROOT_NS"] || '/td-qa-001/qa/tigerdataNS' %>
  api_root_collection_name: "tigerdata"
  api_root_collection_namespace: "/td-qa-001/qa"
  api_root_collection: <%= ENV["MEDIAFLUX_ROOT_NS"] || 'path=/td-qa-001/qa/tigerdata' %>
  api_transport: <%= ENV["MEDIAFLUX_TRANSPORT"] || 'https' %>
  api_host: <%= ENV["MEDIAFLUX_HOST"] %>
  api_port: <%= ENV["MEDIAFLUX_PORT"] || 443 %>

  # Alternate to qa is staging
  api_alternate_hidden_root: "/td-staging-001"
  api_alternate_root_ns: "/td-staging-001/tigerdataNS"
  api_alternate_root_collection: "path=/td-staging-001/tigerdata"
  api_alternate_root_collection_name: "tigerdata"
  api_alternate_root_collection_namespace: "/td-staging-001"
  api_alternate_transport: <%= ENV["MEDIAFLUX_ALTERNATE_TRANSPORT"] || 'https' %>
  api_alternate_host: <%= ENV["MEDIAFLUX_ALTERNATE_HOST"] %>
  api_alternate_port: <%= ENV["MEDIAFLUX_ALTERNATE_PORT"] || 443 %>

  api_domain: <%= ENV["MEDIAFLUX_DOMAIN"] %>
  api_user: <%= ENV["MEDIAFLUX_USER"] %>
  api_password: <%= ENV["MEDIAFLUX_PASSWORD"] %>
  shared_files_location: <%= ENV["SHARED_FILES_MOUNT"] || '/mnt/nfs/tigerdata' %>
staging:
  api_root: "tigerdata"
  api_hidden_root: "/td-staging-001"
  api_root_ns: <%= ENV["MEDIAFLUX_ROOT_NS"] || '/td-staging-001/tigerdataNS'  %>
  api_root_to_clean: "/td-staging-001/"
  api_root_collection_name: "tigerdata"
  api_root_collection_namespace: "/td-staging-001"
  api_root_collection: <%= ENV["MEDIAFLUX_ROOT_NS"] || 'path=/td-staging-001/tigerdata'  %>
  api_transport: <%= ENV["MEDIAFLUX_TRANSPORT"] || 'https' %>
  api_host: <%= ENV["MEDIAFLUX_HOST"] %>
  api_port: <%= ENV["MEDIAFLUX_PORT"] || 443 %>

  # Alternate to staging is qa
  api_alternate_hidden_root: "/td-qa-001"
  api_alternate_root_ns: "/td-qa-001/tigerdataNS"
  api_alternate_root_collection: "path=/td-qa-001/tigerdata"
  api_alternate_root_collection_name: "tigerdata"
  api_alternate_root_collection_namespace: "/td-qa-001"
  api_alternate_transport: <%= ENV["MEDIAFLUX_ALTERNATE_TRANSPORT"] || 'https' %>
  api_alternate_host: <%= ENV["MEDIAFLUX_ALTERNATE_HOST"] %>
  api_alternate_port: <%= ENV["MEDIAFLUX_ALTERNATE_PORT"] || 443 %>

  api_domain: <%= ENV["MEDIAFLUX_DOMAIN"] %>
  api_user: <%= ENV["MEDIAFLUX_USER"] %>
  api_password: <%= ENV["MEDIAFLUX_PASSWORD"] %>
  shared_files_location: <%= ENV["SHARED_FILES_MOUNT"] || '/mnt/nfs/tigerdata' %>
development:
  api_root: "tigerdata"
  api_hidden_root: "/td-demo-001"
  api_root_to_clean: "/td-demo-001/dev/"
  api_root_ns: <%= ENV["MEDIAFLUX_ROOT_NS"] || '/td-demo-001/dev/tigerdataNS' %>
  api_root_collection_name: "tigerdata"
  api_root_collection_namespace: "/td-demo-001/dev"
  api_root_collection: <%= ENV["MEDIAFLUX_ROOT_NS"] || 'path=/td-demo-001/dev/tigerdata' %>
  api_transport: <%= ENV["MEDIAFLUX_TRANSPORT"] || 'http' %>
  api_host: <%= ENV["MEDIAFLUX_HOST"] || '0.0.0.0' %>
  api_port: <%= ENV["MEDIAFLUX_PORT"] || '8888' %>

  # Alternate to development is an alternate location in docker
  api_alternate_root: "tigerdata-alternate"
  api_alternate_hidden_root: "/td-alternate-001"
  api_alternate_root_ns: "/td-alternate-001/tigerdataNS"
  api_alternate_root_collection: "path=/td-alternate-001/tigerdata"
  api_alternate_root_collection_name: "tigerdata-alternate"
  api_alternate_root_collection_namespace: "/td-alternate-001"
  api_alternate_transport: <%= 'http' %>
  api_alternate_host: <%= '0.0.0.0' %>
  api_alternate_port: <%= '8888' %>

  api_domain: <%= ENV["MEDIAFLUX_DOMAIN"] || 'system' %>
  api_user: <%= ENV["MEDIAFLUX_USER"] || 'manager' %>
  api_password: <%= ENV["MEDIAFLUX_PASSWORD"] || 'change_me' %>
  shared_files_location: <%= ENV["SHARED_FILES_MOUNT"] || './public/' %>
test:
  # api_root must start with "tigerdata/" since the tigerdata.project.create service in Mediaflux
  # is hard coded to that path. We add "rspec" here to force all of our tests projects to be
  # groupped together.
  api_root: "tigerdata/rspec"
  api_hidden_root: "/td-test-001"
  api_root_to_clean: "/td-test-001/test/"
  api_root_ns: "/td-test-001/test/tigerdataNS"
  api_root_collection_name: "tigerdata"
  api_root_collection_namespace: "/td-test-001/test"
  api_root_collection: "path=/td-test-001/test/tigerdata"
  api_transport: "http"
  api_host: "<%= ENV['MFLUX_CI'] ? 'mflux-ci.lib.princeton.edu' : '0.0.0.0' %>"
  api_port: "<%= ENV['MFLUX_CI'] ?  '80' : '8888' %>"

  # Alternate to test is still a test location
  api_alternate_root: "tigerdata-alternate"
  api_alternate_hidden_root: "/td-test-002"
  api_alternate_root_ns: "/td-test-002/tigerdataNS"
  api_alternate_root_collection: "path=/td-test-002/tigerdata-alt"
  api_alternate_root_collection_name: "tigerdata-alt"
  api_alternate_root_collection_namespace: "/td-test-002"
  api_alternate_transport: "https"
  api_alternate_host: "mediaflux-alt.example.com"
  api_alternate_port: "7777"

  api_domain: "system"
  api_user: "manager"
  api_password: "<%= ENV['MFLUX_CI_PASSWORD'] || 'change_me' %>"
  shared_files_location: "./public/"
ci:
  api_root: "tigerdata"
  api_hidden_root: "/td-ci-001"
  api_root_to_clean: "/td-ci-001/test/"
  api_root_ns: "/td-ci-001/test/tigerdataNS"
  api_root_collection_name: "tigerdata"
  api_root_collection_namespace: "/td-ci-001/test"
  api_root_collection: "path=/td-ci-001/test/tigerdata"
  api_transport: "http"
  api_host: "mflux-ci.lib.princeton.edu"
  api_port: "80"

  # Alternate to test is still a test location
  api_alternate_hidden_root: "/td-ci-002"
  api_alternate_root_ns: "/td-ci-002/tigerdataNS"
  api_alternate_root_collection: "path=/td-ci-002/tigerdata-alt"
  api_alternate_root_collection_name: "tigerdata-alt"
  api_alternate_root_collection_namespace: "/td-ci-002"
  api_alternate_transport: "https"
  api_alternate_host: "mediaflux-alt.example.com"
  api_alternate_port: "7777"

  api_domain: <%= ENV["MEDIAFLUX_DOMAIN"] || 'system' %>
  api_user: <%= ENV["MEDIAFLUX_USER"] || 'manager' %>
  api_password: <%= ENV['MFLUX_CI_PASSWORD'] || 'change_me' %>
  shared_files_location: <%= ENV["SHARED_FILES_MOUNT"] || './public/' %>
