<h1>Dashboard: <%= @role.name %></h1>

<!-- TODO: Render markdown -->
<pre><%= @role.description_md %></pre>

Projects where you are <%= @role.name %>:
<% if @projects.empty? %>
    None
<% else %>
    <ul>
        <% @projects.each do |project| %>
            <li><%= project.name %></li>
        <% end %>
    </ul>
<% end %>