<div class="form-field data-manager">
  <%= render partial: "/new_project_wizard/form_field_label",
           locals: {field_label: "Data Manager", field_sub_label: "Required"} %>
  <div class="input-frame">
    <div class="text-input">
      <div class="horizontal-frame">
        <div class="vertical-frame">
          <div class="pul-tooltip">
            <span class="pul-tooltiptext">The steward of a TigerData project; responsible for project data management, metadata entry, policy compliance, data movement, and more.</span>
          </div>
          <input class="form-input data_manager" type="text" name="request[data_manager]" id="request_data_manager"
                list="data_managers" placeholder="Select a Data Manager" autocomplete="off" value="<%=data_manager%>"></input>
          <!-- This datalist is populated via AJAX in userRolesAutocomplete() -->
          <datalist class="datalist scrollable" id="data_managers"></datalist>
          <div class="input-error">
               <%= data_manager_error %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>