<div class="form-field data-sponsor">
  <%= render partial: "/new_project_wizard/form_field_label",
           locals: {field_label: "Data Sponsor", field_sub_label: "Required"} %>
  <%= render partial: "/new_project_wizard/form_user_input",
          locals: {field_name: "data_sponsor", field_value: data_sponsor_name, field_error: data_sponsor_error, field_id_value: data_sponsor,
                  tooltip: "A permanent Princeton University employee who owns, provides oversight, and is responsible for the TigerData project."
                  } %>

</div>