<div class= "field-info">
  <div class="field-label">
    <%= field_label %>
    <% if defined?(tooltip) %>
      <div class="pul-tooltip">
        <span class="pul-tooltiptext"><%= tooltip %></span>
      </div>
    <% end %> 
  </div>
  <div class="field-sub-label">
    <%= field_sub_label %>
  </div>
</div>
