<!-- This empty HTML SPAN is needed to preserve the layout of the buttons at the bottom of the page -->
<span>&nbsp;</span>

<div class="right-frame" >
   <input type="button" popovertarget="save-and-exit" value="Save and exit" class="pul-button pul-button-secondary"></input>
    <%= form.submit "Next", class: "pul-button pul-button-primary" %>
</div>
<%= render partial: "/new_project_wizard/save_and_exit_modal", locals: {form:} %>