 <div data-state="Completed" data-type="Sub-Step" class="substep-container">
    <div data-size="Small" data-state="Completed" class="substep-indicator-container">
        <div class="substep-indicator<%= indicator_class %>"></div>
    </div>
    <div class="step-text-container">
        <div class="substep-text<%= text_class %>"><a class="go-to-step" href="<%= step_url %>"><%= step_name %></a></div>
    </div>
</div>
