<div>
  <ul>
    <li>Project Information
      <ul>
        <li>Basic Details</li>
        <li>Categories (Optional)</li>
        <li>Dates (Optional)</li>
      </ul>
    </li>
    <li>Roles and People</li>
    <li>Project Type</li>
    <li>Storage and Access</li>
    <li>Additional Information <span class="sidebar-note">(Optional)</span>
      <ul>
        <li>Funding Sources</li>
        <li>Project Permissions</li>
        <li>Related Resources</li>
      </ul>
    </li>
    <li>Review and Submit</li>
  </ul>
</div>