<div class="sidebar-width"> 

<div id="new-project-wizard-sidebar">
    <div class="sidebar-container">
        <div data-state="Expanded" class="expanded-state">
            <div class="step-container">
                <div data-state="Completed" data-type="Step" class="step">
                    <div data-size="Normal" data-state="Completed" class="step-number-completed">
                        <div class="step-text">1</div>
                    </div>
                    <div class="step-text-container">
                        <div class="step-text">Project Information</div>
                    </div>
                </div>
                <div class="step-expanded-container">
                    <div class="step-expanded"></div>
                </div>
            </div>
            <div data-count="3" class="substeps-container">
                <div class="connector-line"></div>
                <div data-state="Completed" data-type="Sub-Step" class="substep-container">
                    <div data-size="Small" data-state="Completed" class="substep-indicator-container">
                        <div class="substep-indicator-completed"></div>
                    </div>
                    <div class="step-text-container">
                        <div class="substep-text">Basic Details</div>
                    </div>
                </div>
                <div data-state="Completed" data-type="Sub-Step" class="substep-container">
                    <div data-size="Small" data-state="Completed" class="substep-indicator-container">
                        <div class="substep-indicator-completed"></div>
                    </div>
                    <div class="step-text-container">
                        <div class="substep-text">Categories (Optional)</div>
                    </div>
                </div>
                <div data-state="Completed" data-type="Sub-Step" class="substep-container">
                    <div data-size="Small" data-state="Completed" class="substep-indicator-container">
                        <div class="substep-indicator-completed"></div>
                    </div>
                    <div class="step-text-container">
                        <div class="substep-text">Dates (Optional)</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-state="Completed" data-type="Step" class="unexpanded-state">
            <div data-size="Normal" data-state="Completed" class="step-number-completed">
                <div class="step-text">2</div>
            </div>
            <div class="step-text-container">
                <div class="step-text">Roles and People</div>
            </div>
        </div>
        <div data-state="Completed" data-type="Step" class="unexpanded-state">
            <div data-size="Normal" data-state="Completed" class="step-number-completed">
                <div class="step-text">3</div>
            </div>
            <div class="step-text-container">
                <div class="step-text">Project Type</div>
            </div>
        </div>
        <div data-state="Completed" data-type="Step" class="unexpanded-state">
            <div data-size="Normal" data-state="Completed" class="step-number-completed">
                <div class="step-text">4</div>
            </div>
            <div class="step-text-container">
                <div class="step-text">Storage and Access</div>
            </div>
        </div>
        <div data-state="Expanded" class="expanded-state">
            <div class="step-container">
                <div data-state="Completed" data-type="Step" class="step">
                    <div data-size="Normal" data-state="Completed" class="step-number-completed">
                        <div class="step-text">5</div>
                    </div>
                    <div class="step-text-container">
                        <div><span class="step-text">Additional Information</span><br /><span class="substep-text">(Optional)</span></div>
                    </div>
                </div>
                <div class="step-expanded-container">
                    <div class="step-expanded"></div>
                </div>
            </div>
            <div data-count="3" class="substeps-container">
                <div class="connector-line"></div>
                <div data-state="Completed" data-type="Sub-Step" class="substep-container">
                    <div data-size="Small" data-state="Completed" class="substep-indicator-container">
                        <div class="substep-indicator-completed"></div>
                    </div>
                    <div class="step-text-container">
                        <div class="substep-text">Funding Sources</div>
                    </div>
                </div>
                <div data-state="Completed" data-type="Sub-Step" class="substep-container">
                    <div data-size="Small" data-state="Completed" class="substep-indicator-container">
                        <div class="substep-indicator-completed"></div>
                    </div>
                    <div class="step-text-container">
                        <div class="substep-text">Project Permissions</div>
                    </div>
                </div>
                <div data-state="Completed" data-type="Sub-Step" class="substep-container">
                    <div data-size="Small" data-state="Completed" class="substep-indicator-container">
                        <div class="substep-indicator-completed"></div>
                    </div>
                    <div class="step-text-container">
                        <div class="substep-text">Related Resources</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-state="Active" data-type="Step" class="unexpanded-state">
            <div data-size="Normal" data-state="Active" class="step-number-completed">
                <div class="step-text">6</div>
            </div>
            <div class="step-text-container">
                <div class="step-text">Review and Submit</div>
            </div>
        </div>
    </div>
</div>
</div>