<% content_for :title, "Project Information: Basic" %>
<label for="request_title">Title</label>
<input type="text" name="request[request_title]" id="request_title" value="<%=@request_model.request_title %>">
