<% content_for :title, "Project Type" %>
<label for="request_project_title">Project Title</label>
<input type="text" name="request[project_title]" id="request_project_title" value="<%=@request_model.project_title %>">
