.breadcrumbs {
  
  list-style-type: none;
  padding: 0px;
  margin: 2em 0em;
  
  a {
    color: $black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: $black;
  }

  li {
    display: inline-block;
  }

  .inactive {
    opacity: 0.4;
  }
}