
@import "variables";
@import "typography";
@import "bootstrap";

.fixed-table {
    width: 100%;
    table-layout: fixed;
}

.fixed-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// hide pagination menu
.dataTables_length {
    display: none;
}

// put pages and totals on the same line
.dataTables_info {
     float: left;
}

// Put pagination on the far right
.dataTables_paginate {
    float: right;
    .paginate_button {
        padding: 0.25em;
        color: $gray-60;
    }
    .paginate_button.current, .paginate_button.disabled {
        text-decoration: none;
    }
}

#projects-listing,  #projects-listing-pending, #projects-listing-approved {
    table-layout: fixed;
    border: 1px solid $gray-20;
    border-radius: 3px;
    padding: 5px 0px;
    align-items: center;
    gap: 16px;
    color: $gray-60;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    width: 100%;
    a {
        text-decoration: none !important;
    }

    thead .project th, tbody .project td {
        border: none;
    }
    
    .project {
        display: flex;
        flex-wrap: wrap;       
        font-family: $libre-franklin;
        border-bottom: 1px solid $gray-20;
        background: $white;
        padding: 12px;
        align-items: center;
        gap: 8px;
        align-self: stretch;

        td:first-child {
            width: 100%;
        } 

        td: {
            border: none;
        }

        h2 {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $black;
          font-family: $libre-franklin;
          font-size: 16px !important;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          text-decoration: none;
        }
        .details {
            display: flex;
            padding: 5px 0px;
            align-items: center;
            gap: 16px;
            color: $gray-60;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            li {
                float: left;
                list-style: none;
                padding: 0em .2em 0em 2em;
            }
        }
    }

    .last {
        border-bottom: none;
    }

    .status {
        text-transform: capitalize;
    }

    .status::before {
        content: "";
        display: inline-flex;
        width: 20px;
        height: 20px;
        vertical-align: top;
    }

    .active { 
        background: url("status_active.svg") no-repeat;
    }

    .pending { 
        background: url("status_pending.svg") no-repeat;
    }

    .approved {
        background: url("status_approved.svg") no-repeat;
    }

    .rejected {
        background: url("status_rejected.svg") no-repeat;
    }

    .project-type {
        text-transform: capitalize;
    }

    .project-type::before {
        content: "";
        display: inline-flex;
        background: url("project_type.svg") no-repeat;
        width: 20px;
        height: 20px;
        vertical-align: top;
    }

    .user-role {
        text-transform: capitalize;
    }

    .user-role::before {
        content: "";
        display: inline-flex;
        background: url("user_role.svg") no-repeat;
        width: 20px;
        height: 20px;
        vertical-align: top;
    }

    .last-download::before {
        content: "";
        display: inline-flex;
        background: url("last_download.svg") no-repeat;
        width: 20px;
        height: 20px;
        vertical-align: top;
    }

    .last-activity::before {
        content: "";
        display: inline-flex;
        background: url("last_activity.svg") no-repeat;
        width: 20px;
        height: 20px;
        vertical-align: top;
    }

}

#admin-listing {
    .section {
        margin-top: 2em;
    }
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.75rem;
    align-self: stretch;

    .welcome-pane {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

    .detail-pane {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        align-self: stretch;

        .main {
            display: flex;
            width: 55.9375rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.25rem;
        }

        .sidebar {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.25rem;
            align-self: stretch;

            .downloads {
                display: flex;
                width: 17.8125rem;
                flex-direction: column;
                align-items: center;

                border-radius: 0.75rem;
                background: $gray-10;

                .header {
                    display: flex;
                    padding: 0.75rem;
                    justify-content: space-between;
                    align-items: center;
                    align-self: stretch;
                }
                .details {
                    display: flex;
                    align-items: center;
                    align-self: stretch;
                    border-bottom: 1px solid $gray-10;

                    .content {
                        display: flex;
                        padding: 0.5rem 0rem 0.5rem 0.5rem;
                        flex-direction: column;
                        align-items: flex-start;
                        flex: 1 0 0;

                        .container1 {
                            display: flex;
                            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
                            flex-direction: column;
                            align-self: stretch;
                            align-items: flex-start;
                            flex: 1 0 0;
                            
                            .container2 {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                align-self: stretch;
                                border-radius: 0.5rem;

                                .container3 {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    align-self: stretch;
                                    
                                    .download-item {
                                        display: flex;
                                        padding: 0.75rem;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        gap: 0.125rem;
                                        align-self: stretch;
                                        border-bottom: 1px solid $gray-10;
                                        background: $white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}