
@import "variables";
@import "typography";
@import "bootstrap";

#projects-listing {
    border: 1px solid $gray-20;
    border-radius: 3px;

    a {
        text-decoration: none !important;
    }

    .project {
        font-family: $libre-franklin;
        border-bottom: 1px solid $gray-20;
        background: $white;
        padding: 12px;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        h2 {
          overflow: hidden;
          text-overflow: ellipsis;
          text-wrap: nowrap;
          color: $black;
          font-family: $libre-franklin;
          font-size: 16px !important;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          text-decoration: none;
        }
        .details {
            display: flex;
            padding: 5px 0px;
            align-items: center;
            gap: 16px;
            color: $gray-60;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            li {
                float: left;
                list-style: none;
                padding: 0em .2em 0em 2em;
            }
        }
    }

    .last {
        border-bottom: none;
    }

    .status {
        text-transform: capitalize;
    }

    .status::before {
        content: "";
        display: inline-flex;
        width: 20px;
        height: 20px;
        vertical-align: top;
    }

    .active { 
        background: url("status_active.svg") no-repeat;
    }

    .pending { 
        background: url("status_active.svg") no-repeat;
    }

    .approved {
        background: url("status_approved.svg") no-repeat;
    }

    .rejected {
        background: url("status_rejected.svg") no-repeat;
    }

    .project-type {
        text-transform: capitalize;
    }

    .project-type::before {
        content: "";
        display: inline-flex;
        background: url("project_type.svg") no-repeat;
        width: 20px;
        height: 20px;
        vertical-align: top;
    }

    .user-role {
        text-transform: capitalize;
    }

    .user-role::before {
        content: "";
        display: inline-flex;
        background: url("user_role.svg") no-repeat;
        width: 20px;
        height: 20px;
        vertical-align: top;
    }

    .last-download::before {
        content: "";
        display: inline-flex;
        background: url("last_download.svg") no-repeat;
        width: 20px;
        height: 20px;
        vertical-align: top;
    }

    .last-activity::before {
        content: "";
        display: inline-flex;
        background: url("last_activity.svg") no-repeat;
        width: 20px;
        height: 20px;
        vertical-align: top;
    }

}

#admin-listing {
    .section {
        margin-top: 2em;
    }
}