@import "variables";
@import "typography";
@import "bootstrap";

.fixed-table {
  width: 100%;
  table-layout: fixed;
}

.fixed-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard-admin-buttons {
  display: flex;
  gap: 0.5em;

  #requests-listing-button {
    float: left;
  }
  #new-project-request-wizard-button {
    float: right;
  }
}

#user-list-table {
  font-family: $libre-franklin;
  td {
    border: 1px solid $gray-20;
    padding: 0.15rem;
  }
  .td-true {
    background-color: $user-table-true;
  }
  .td-false {
    background-color: $user-table-false;
  }
}

#users-pagination {
  .pagination a,
  .pagination span.current,
  .pagination span.gap {
    float: left;
    padding: 14px;
    line-height: 38px;
    text-decoration: none;
    border-left-width: 0;
    color: $gray-60;
  }
  .pagination {
    .first {
      padding: 0;
      float: none;
      border: none;
    }
    .prev {
      padding: 0;
      float: none;
      border: none;
    }
    .page {
      padding: 0;
      float: none;
      border: none;
    }
    .next {
      padding: 0;
      float: none;
      border: none;
    }
    .last {
      padding: 0;
      float: none;
      border: none;
    }
    .current {
      padding: 0;
      float: none;
      border: none;
      color: $white !important;
      background-color: $princeton-orange;
    }
  }
}

// hide pagination menu
.dataTables_length {
  display: none;
}

// put pages and totals on the same line
.dataTables_info {
  float: left;
  margin-top: 10px;
}

// Put pagination on the far right
.dataTables_paginate {
  float: right;
  display: inline-block;
  margin-top: 10px;

  .paginate_button {
    padding: 8px 16px;
    color: $gray-60;
    text-decoration: none;
    transition-duration: 0.4s;
  }

  a.paginate_button.current {
    background-color: $princeton-orange;
    color: $white;
  }

  .paginate_button:hover {
    opacity: 0.6;
    background-color: $princeton-orange;
  }
}

#projects-listing,
#projects-listing-pending,
#projects-listing-approved {
  table-layout: fixed;
  border: 1px solid $gray-20;
  border-radius: 3px;
  padding: 5px 0px;
  align-items: center;
  gap: 16px;
  color: $gray-60;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  width: 100%;
  a {
    text-decoration: none !important;
  }

  thead .project th,
  tbody .project td {
    border: none;
  }

  .sorting_disabled {
    display: none;
  }

  .project-row {
    display: flex;
    padding: 0.75rem;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    border-bottom: 1px solid $gray-20;
    background: $white;

    .project-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
      flex: 1 0 0;

      .title {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        display: -webkit-box;
        max-width: 90%;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;

        a {
          color: $gray-100;
        }

        overflow: hidden;
        text-overflow: ellipsis;

        /* Body S Bold */
        font-family: $libre-franklin;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem; /* 150% */
      }

      .summary {
        display: flex;
        padding: 0.25rem 0rem;
        align-items: center;
        gap: 1rem;

        .status {
          display: flex;
          align-items: center;
          gap: 0.25rem;
        }

        .status::before {
          content: "";
          display: inline-flex;
          width: 20px;
          height: 20px;
          vertical-align: top;
        }

        .active {
          background: url("status_active.svg") no-repeat;
        }

        .pending {
          background: url("status_pending.svg") no-repeat;
        }

        .approved {
          background: url("status_approved.svg") no-repeat;
        }

        .rejected {
          background: url("status_rejected.svg") no-repeat;
        }

        .type {
          text-transform: capitalize;
          display: flex;
          align-items: center;
          gap: 0.25rem;
        }

        .type::before {
          content: "";
          display: inline-flex;
          background: url("project_type.svg") no-repeat;
          width: 20px;
          height: 20px;
          vertical-align: top;
        }

        .role {
          text-transform: capitalize;
          display: flex;
          align-items: center;
          gap: 0.25rem;
        }

        .role::before {
          content: "";
          display: inline-flex;
          background: url("user_role.svg") no-repeat;
          width: 20px;
          height: 20px;
          vertical-align: top;
        }

        .download {
          display: flex;
          align-items: center;
          gap: 0.25rem;
        }

        .download::before {
          content: "";
          display: inline-flex;
          background: url("last_download.svg") no-repeat;
          width: 20px;
          height: 20px;
          vertical-align: top;
        }

        .activity {
          display: flex;
          align-items: center;
          gap: 0.25rem;
        }

        .activity::before {
          content: "";
          display: inline-flex;
          background: url("last_activity.svg") no-repeat;
          width: 20px;
          height: 20px;
          vertical-align: top;
        }
      }
    }

    .storage-details {
      display: flex;
      width: 9.375rem;
      padding: 0.375rem 0rem;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;

      .storage {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;

        usage {
          color: $gray-60;

          /* Body XXS */
          font-family: $libre-franklin;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.125rem; /* 150% */
        }
      }
    }
  }
  .project {
    display: flex;
    flex-wrap: wrap;
    font-family: $libre-franklin;
    border-bottom: 1px solid $gray-20;
    background: $white;
    padding: 12px;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    td:first-child {
      width: 100%;
    }

    td: {
      border: none;
    }

    h2 {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $black;
      font-family: $libre-franklin;
      font-size: 16px !important;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      text-decoration: none;
    }
    .details {
      display: flex;
      padding: 5px 0px;
      align-items: center;
      gap: 16px;
      color: $gray-60;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      li {
        float: left;
        list-style: none;
        padding: 0em 0.2em 0em 2em;
      }
    }
  }
}

#admin-listing {
  .section {
    margin-top: 2em;
  }

  .import {
    display: flex;
    button {
      margin-left: 1em;
    }
  }
}

.main-content {
  .welcome-pane {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .new-project-multi {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1px;

      .request-btn {
        display: flex;
        padding: 0.5rem 1.25rem;
        align-items: flex-start;
        gap: 0.625rem;
        border-radius: 0.25rem 0 0 0.25rem;
        background: $gray-100;

        a {
          color: white;
          text-decoration: none;
        }
      }

      .request-options {
        display: flex;
        padding: 0.5rem 0.25rem;
        align-items: flex-start;
        gap: 0.625rem;
        border-radius: 0 0.25rem 0.25rem 0;
        border-right: 1px solid $white;
        background: $gray-100;
        anchor-name: --request-btn;

        .down-arrow {
          width: 1.5rem;
          height: 1.5rem;
          background: url("frame.svg") no-repeat;
          border: none;
        }
      }

      .request-dropdown {
        inset: auto;
        position-anchor: --request-btn;
        top: anchor(bottom);
        right: anchor(right);
        margin-block-start: 0.25rem;

        width: 13.5rem;
        padding: 0.5rem;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid $gray-20;
        background: $white;
      }

      .request-dropdown:popover-open {
        display: flex;
      }

      .request-button {
        border: none;
        background: $white;
      }

      .request-list::backdrop {
        background-color: $gray-100-transparent;
      }

      .request-list {
        width: 50rem;
        padding: 1.25rem;
        border-radius: 0.5rem;
        background: var(--Neutral-White, #FFF);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;

        /* Shadow */
        box-shadow: 0 10px 24px 0 rgba(25, 25, 25, 0.10);
        .draft-list-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;

          p {
            color: var(--Neutral-Black, #121212);

            /* Body Bold */
            font-family: "Libre Franklin";
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.6875rem; /* 150% */
          }
          .request-close-button{
            width: 1.5rem;
            height: 1.5rem;
            background: url("remove.svg") no-repeat;
            border: none;
          }
        }
        .draft-content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;
          align-self: stretch;

          .draft-list {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            border-radius: 0.5rem;
            border: 1px solid var(--Neutral-Medium-Gray, #D0D0D0);
            background: var(--Neutral-White, #FFF);
          }
        }
      }

      .request-list:popover-open {
        display: flex;
      }
    }
  }

  .detail-pane {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    align-self: stretch;

    .main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.25rem;
      flex-grow: 1;
    }

    .sidebar {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.25rem;
      align-self: stretch;

      .downloads {
        display: flex;
        width: 17.8125rem;
        height: 17.813rem;
        flex-direction: column;
        align-items: center;
        border-radius: 0.75rem;
        background: $gray-10;
        padding-bottom: 0.5rem;
        height: 14.125rem;

        .header {
          display: flex;
          padding: 0.75rem 0.75rem 0.75rem 0.75rem;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;
          color: $black;
          font-family: $libre-franklin;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          gap: 8px;
        }

        .contents-window {
          overflow-y: auto;
          scrollbar-width: thin;
          height: 10.125rem;
          width: 17.8125rem;
        }

        .details {
          .content {
            display: flex;
            padding: 0rem 0rem 0.5rem 0.5rem;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 0 0;
            overflow: hidden;

            .container1 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              background: $white;
              border-radius: 0.5rem;
              display: flex;
              margin-right: 10px;

              .container2 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;

                .container3 {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  align-self: stretch;

                  .download-item {
                    display: flex;
                    padding: 0.75rem;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.125rem;
                    align-self: stretch;
                    border-bottom: 1px solid $gray-10;

                    .title {
                      height: 1.3125rem;
                      align-self: stretch;
                      overflow: hidden;
                      color: $black;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      /* Body XXS Bold */
                      font-family: $libre-franklin;
                      font-size: 0.75rem;
                      font-style: normal;
                      font-weight: 600;
                      line-height: 1.125rem; /* 150% */

                      a {
                        text-decoration: none;
                        color: $black;
                      }
                    }

                    .details {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      align-self: stretch;

                      .expiration {
                        color: $gray-60;
                        /* Body XXS */
                        font-family: $libre-franklin;
                        font-size: 0.75rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.125rem; /* 150% */
                      }

                      .size {
                        color: $gray-60;
                        /* Body XXS */
                        font-family: $libre-franklin;
                        font-size: 0.75rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.125rem; /* 150% */
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
