@import "variables";
@import "typography";
@import "bootstrap";

#emulator {
  text-align: center;
  background-color: $princeton-orange;
  padding: 20px 0px 10px 0px;
  border-bottom: $black solid 2px;
  color: $black;
  box-shadow: inset 0px 9px 10px 2px rgba(0, 0, 0, 0.5);

  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  p {
    font-size: 18px;
  }
  a {
    text-decoration: underline;
  }
}

@media all and (max-width: 860px) {
  #emulator {
    padding: 10px 3px 5px 3px;
  }
}
