@import "variables";
@import "bootstrap";

.footer-line {
  height: 8px;
  background: $princeton-orange;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: $gray-100;

  .footer-content {
    display: flex;
    padding: 5rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  .logo-row {
    display: flex;
    width: 81.188rem;
    justify-content: space-between;
    align-items: center;

    #pul-logo {
      width: 12.5rem;
      height: 3.125rem;
      flex-shrink: 0;
    }

    #prds-logo {
      width: 9.341rem;
      height: 3.125rem;
      flex-shrink: 0;
    }

    #dean-research-logo {
      width: 22.388rem;
      height: 3.125rem;
      flex-shrink: 0;
    }

    #research-computing-logo {
      width: 13.082rem;
      height: 3.125rem;
      flex-shrink: 0;
    }
  }

  .version-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    .version-info {
      display: flex;
      align-items: center;
      gap: 4px;
      color: $white;

      /* Body XS */
      font-family: "Libre Franklin";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px; /* 150% */

      a {
        color: var(--Neutral-White, $white);

        /* Body XS */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
      }
    }

    .version-line {
      height: 1px;
      align-self: stretch;
      background: #d9d9d9;
    }
  }

  .link-row {
    display: flex;
    height: 80px;
    padding: 24px 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .pul-accessible-container {
      width: max-content;
      background-color: #000;
      color: $white;

      &:hover {
        border-bottom: 1px solid $white 333;
      }

      .pul-accessible {
        a {
          color: $white;
          text-decoration: none;
          margin: 0px 0px 5px 0px;

          &:hover {
            text-decoration: underline;
          }

          &::after {
            background-image: asset_url("arrow-up-right.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
            display: inline-block;
            height: 12px;
            margin-left: 8px;
            position: relative;
            width: 12px;
          }
        }
      }
    }

    .access-link {
      display: flex;
      align-items: center;
    }

    .trustee-link {
      color: $white;

      /* Body S */
      font-family: "Libre Franklin";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }

    .princeton-link {
      width: 192px;
      height: 54.326px;
    }
  }
}
