#footer {
  background-color: $black !important;
  color: $white;

  .logos {
    text-align: center;
    padding: 80px 0px;
  }

  .version-info {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
    text-align: center;
  }

  .footer-bottom {
    padding: 24px 20px;
    border-top: 1px solid $white;
  }

  .princeton-logo {
    margin: 10px;
  }

  #copyright {
    width: 100%;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
  }

  .pul-accessible a {
    color: rgb(255, 255, 255);
    &::after {
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNCIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE4IDEzdjZhMiAyIDAgMCAxLTIgMkg1YTIgMiAwIDAgMS0yLTJWOGEyIDIgMCAwIDEgMi0yaDYiLz48cG9seWxpbmUgcG9pbnRzPSIxNSAzIDIxIDMgMjEgOSIvPjxsaW5lIHgxPSIxMCIgeDI9IjIxIiB5MT0iMTQiIHkyPSIzIi8+PC9zdmc+");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      display: inline-block;
      height: 12px;
      margin-left: 8px;
      position: relative;
      width: 12px;
    }
  }

} 