@import "variables";
@import "typography";
@import "bootstrap";

.header-row {
  display: flex;
  width: 90rem;
  height: 6.25rem;
  padding: 1.5rem 1.25rem;
  justify-content: space-between;
  align-items: center;
  background: #121212;

  .header-image {
    width: 9.25rem;
    height: 4.05475rem;
    flex-shrink: 0;
    // background: url('logo-image');
  }

  .header-details {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 0px;
    padding-left: 0px;

    .navbar-item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;

      a {
        color: $white;
        text-decoration: none;
      }
    }  
  }
  .btn.btn-warning.btn-sm {
    --bs-btn-bg: white;
    padding: 0.5rem 2rem;
    font-family: "Libre Franklin";
    font-size: 16px;
    color: $princeton-orange;
  }
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    // border: 1px solid #FF0000;
  }

  .row {
    margin-bottom: 4px;
  }

  .col {
    width: 82px;
  }

  .gutter {
    width: 20px;
    // border: 1px solid #00FF00;
  }

  .header-row {
    width: 100% !important;
  }

  #header .navbar .header-logo {
    padding-left: 1em;
  }

  #header-navigation {
    color: $white;
    margin: auto;
    float: right;
    display: -webkit-inline-box;
    font-family: "Libre Franklin";
    .navbar-item { 
      color: $white;
      font-family: "Libre Franklin";
      font-size: 16px;
      font-style: normal;
      line-height: 24px;
      font-weight: 600;
      margin-right: 1em;
    }
    .navbar-item a {
      color: $white;
      font-family: "Libre Franklin";
      font-size: 16px;
      font-style: normal;
      line-height: 24px;
      font-weight: 600;
      margin-left: 12px;
      margin-right: 12px;
      text-decoration: none;
    }
    .navbar-item a:hover {
      text-decoration: underline;
    }
    .dropdown-menu { 
      left: -5em;
      --bs-dropdown-spacer: 1em;
      --bs-dropdown-min-width: 10em;
    }

    .dropdown-menu a {
      color: $black;
      font-weight: 400;
    }
    .dropdown-menu a:hover {
      width: 85%;
    }
  }