@import "variables";
@import "typography";
@import "bootstrap";

#new-project-wizard-sidebar {
  width: 17.8125rem;
  padding: 1.5rem 1.25rem;
  background: $gray-5; 
  overflow: hidden; 
  border-radius: 0.75rem; 
  justify-content: center; 
  align-items: flex-start; 
  display: inline-flex;
}

.new-project-wizard-container {
  flex: 1 1 0; 
  overflow: hidden; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 1.25rem; 
  display: inline-flex;
}

#new-project-wizard-sidebar li {
  align-self: stretch; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 1.25rem; 
  display: flex;
}

.step-content {
  justify-content: flex-start; 
  align-items: center; 
  gap: 0.75rem; 
  display: inline-flex;
}

.step-number {
  width: 1.75rem; 
  height: 1.75rem; 
  background: $princeton-orange-80; 
  border-radius: 0.875rem; 
  justify-content: center; 
  align-items: center; 
  gap: 0.625; 
  display: flex;

  color: $black; 
  font-size: 0.875rem; 
  font-family: $libre-franklin; 
  font-weight: 600; 
  line-height: 21px; 
  word-wrap: break-word;
}

.step-text {
  justify-content: flex-start; 
  align-items: flex-start; 
  display: flex;
  color: $black; 
  font-size: 0.875rem; 
  font-family: $libre-franklin; 
  font-weight: 600; 
  line-height: 21px; 
  word-wrap: break-word;
}

.active {
  border-radius: 0.875rem;
  border: 2px solid $princeton-orange-80;
  background: $white;
  display: flex;
  width: 1.75rem;
  height: 1.75rem;
  justify-content: center;
  align-items: center;
}

.non-numbered {
  border-radius: 0.875rem;
  background: $gray-20;
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  justify-content: center;
  align-items: center;
}

.substep-active {
  border-radius: 0.875rem;
  border: 2px solid $princeton-orange-80;
  background: $white;
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  justify-content: center;
  align-items: center;
}
