@import "variables";
@import "typography";
@import "bootstrap";

.project-details {
  .summary {
    text-transform: capitalize;
  }
}

#project-details-heading {
  margin-bottom: 1.5em;

  .status {
    float: right;
    border-radius: 0.5em;
    padding: 0.5em 0.75em 0.5em 0.5em;
    text-transform: capitalize;
    font-weight: bold;
  }

  .status::before {
    content: "";
    width: 20px;
    height: 20px;
  }

  .active {
    background: url("status_active.svg") no-repeat;
    background-color: $status-info;
    background-position: left;
    padding-left: 20px;
    color: $blue-dark;
  }

  .pending {
    background: url("status_pending.svg") no-repeat;
    background-color: $status-warning;
    background-position: left;
    padding-left: 20px;
    color: $yellow-dark;
  }

  .approved {
    background: url("status_approved.svg") no-repeat;
    background-color: $status-success;
    background-position: left;
    padding-left: 20px;
    color: $green-dark;
  }

  .rejected {
    background: url("status_rejected.svg") no-repeat;
    background-color: $status-error;
    background-position: left;
    padding-left: 20px;
    color: $red-darker;
  }

  #project-description {
    color: $black;
    font-family: "Libre Franklin";
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
  }

  .truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  a#show-more-less-link {
    color: $gray-60;
    text-decoration: none;
  }

  .label {
    font-weight: bold;
  }

  .date-and-data-info ul {
    padding: 0;
  }

  .date-and-data-info li {
    float: left;
    list-style-type: none;
    line-height: 1em;
  }

  .date-and-data-info li:first-child:after {
    content: "|";
    padding: 0 0.5em;

    float: right;
    border-radius: 0.5em;
    padding: 0.5em 0.75em 0.5em 0.5em;
    text-transform: capitalize;
    font-weight: bold;
  }

  .storage-quota {
    border-radius: 0.5rem;
    &-total {
      font-weight: bold;
    }
    @include media-breakpoint-up(lg) {
      max-width: 75%;
    }
  }
}

.latest-download-link {
  margin: 1em 0em 1em 0em;
  display: block;
}

.project-alerts{
  position: absolute;
  top: 17%;
}