@import "variables";
@import "typography";
@import "bootstrap";

#project-contents {
  // table-layout: fixed;
  border: 1px solid $gray-20;
  border-radius: 3px;
  padding: 0rem 0.75rem;
  align-items: center;
  gap: 16px;
  color: $gray-100;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  width: 100%;

  thead {
    background-color: $gray-10;
    overflow: hidden;
    color: $gray-100;
    text-overflow: ellipsis;

    /* Body S Bold */
    font-family: "Libre Franklin";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; /* 150% */
  }

  tr {
    border: 1px solid $gray-20;
    overflow: hidden;
    color: $gray-100;
    text-overflow: ellipsis;
  }

  td,
  th {
    padding: 0.5em 1em;
  }
}

.contents-summary {
  margin: 1rem 0px;
  padding: 0.75rem 1.5rem;
  background-color: $gray-10;

  .file-inventory {
    color: $gray-100;
    font-weight: 600;
  }

  // Note, this can not be a variable
  --bs-border-color: #717171;
}

.content-info {
  color: $gray-100;
  background-color: $status-info;
  padding: 0.5em 1em;

  .bi-info-circle {
    padding-right: 1em;
  }
}

#project-contents {
  margin-bottom: 0.75rem;

  .sorting:hover {
    cursor: pointer;
  }
}

.data-users-title {
  color: $black;
  /* Body L Bold */
  font-family: "Libre Franklin";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.875rem; /* 150% */
}

.added-user-textbox {
  border: none !important;
  background-color: white !important;
  width: 100% !important;
}

.delete-user-row {
  color: $red-dark;
}

/* Used for the delete button when adding users within the modal */
.transparent-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.basic-details-container {
  display: flex;
}

.basic-details-panel {
  width: 56.3125rem;
  flex-shrink: 0;
}

.active-header {
  color: $gray-60 !important;
}

.basic-details-navigation {
  width: 25%;
  height: 50vh;
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  font-size: 25px;

  li {
    padding-top: 1.875rem;
    list-style-type: none;
    width: 18rem;
    height: auto;
    flex-shrink: 0;
    padding-left: 0rem;
    color: $black;
    font-family: $libre-franklin;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; /* 150% */
    a {
      text-decoration: none;
      color: $black;
    }
    a:hover {
      color: $gray-60;
    }
  }
}

.basic-details-fields {
  padding-top: 30px;
  list-style-type: none;
  width: 75rem;
  height: auto;
  flex-shrink: 0;
  padding-left: 0rem;
}

.detail-table-label {
  display: flex;
  width: 11.4375rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.detail-table {
  display: flex;
  width: 36.875rem;
  padding: 1rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1px solid $gray-10;
  margin-bottom: 2rem;
  .detail-row {
    display: flex;
    padding: 1rem 1rem 2rem 1rem;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid $gray-10;
  }
  .detail-row-last {
    border-bottom: none;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: flex-start;
  }
  .detail-subheading {
    line-height: 0 !important;
    margin: 0 !important;
  }

  .detail-value {
    line-height: 0 !important;
    margin: 0 !important;
  }
}

.detail-sub-heading {
  color: $black;
  font-family: $libre-franklin;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
}

.departments-group {
  margin-left: -9px;
}

.departments-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  background: $gray-10;
  border: 2px solid black;
  border-radius: 8px;
  width: 40em;
  margin-bottom: 2px;
}

.lux-badge-white.departments {
  background: white;
  color: black;
  margin-left: 1em;
}

.data-users-section {
  /* frame-218 in Figma */
  display: inline-flex;
  align-items: flex-start;
  gap: 6.75rem;

  .data-users-container {
    /* frame-187 in Figma */
    display: flex;
    width: 55.9375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    .data-users-table {
      /* table-5 in Figma */
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      border-radius: 0.5rem;
      margin-bottom: -10px; /* not in Figma */

      .table {
        display: flex;
        width: 55.9375rem;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 0.25rem;
        border: 1px solid $gray-20;

        .thead {
          display: flex;
          height: 2.9375rem;
          align-items: flex-start;
          align-self: stretch;
          background: $gray-10;

          .cell {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex: 1 0 0;
            align-self: stretch;
            background: rgba(255, 255, 255, 0.05);
            font-weight: 600; /* not in Figma */

            .content {
              display: flex;
              padding: 0.25rem 0.75rem;
              align-items: flex-start;
              align-self: stretch;
            }
          }
        } /* thead */

        .table-row {
          display: flex;
          height: 2.25rem;
          align-items: flex-start;
          align-self: stretch;
          background: #fff;

          .table-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex: 1 0 0;
            align-self: stretch;
            background: rgba(255, 255, 255, 0.05);

            .content {
              display: flex;
              padding: 0.25rem 0.75rem;
              align-items: flex-start;
              /* align-self: stretch; */
              input {
                width: 100% !important;
              }
            }
          }
        } /* table-row */

        .table-row-no-data {
          display: flex;
          height: 2.25rem;
          align-items: flex-start;
          align-self: stretch;
          background: #fff;
          width: 100%; /* not in Figma */

          #text-no-users {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1 0 0;
            align-self: stretch;
            background: rgba(255, 255, 255, 0);
            color: var(--Neutral-Dark-Gray, #717171);

            /* Body XS */
            font-family: "Libre Franklin";
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.3125rem; /* 150% */
          }
        } /* table-row-no-data */
      } /* table */
    } /* table-5 */

    .frame-106 {
      display: flex;
      width: 55.9375rem;
      justify-content: space-between;
      align-items: center;

      .frame-252 {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        a {
          color: var(--Neutral-Black, #121212);
          /* Body S Bold */
          font-family: "Libre Franklin";
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.5rem; /* 150% */
        }
      }
    }
  } /* data-users-container */
} /* data-users-section */
