@import "variables";
@import "typography";
@import "bootstrap";

.project-details {
  .summary {
    text-transform: capitalize;
  }
}

#project-details-heading {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;

  .title-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }
  .status {
    float: right;
    border-radius: 0.5em;
    padding: 0.5em 0.75em 0.5em 0.5em;
    text-transform: capitalize;
    font-weight: bold;
  }

  .status::before {
    content: "";
    width: 20px;
    height: 20px;
  }

  .active {
    background: url("status_active.svg") no-repeat;
    background-color: $status-info;
    background-position: left;
    padding-left: 20px;
    color: $blue-dark;
  }

  .pending {
    background: url("status_pending.svg") no-repeat;
    background-color: $status-warning;
    background-position: left;
    padding-left: 20px;
    color: $yellow-dark;
  }

  .approved {
    background: url("status_approved.svg") no-repeat;
    background-color: $status-success;
    background-position: left;
    padding-left: 20px;
    color: $green-dark;
  }

  .rejected {
    background: url("status_rejected.svg") no-repeat;
    background-color: $status-error;
    background-position: left;
    padding-left: 20px;
    color: $red-darker;
  }

  #project-description {
    color: $black;
    font-family: $libre-franklin;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
  }

  .truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  a#show-more-less-link {
    color: $gray-60;
    text-decoration: none;
  }

  .label {
    font-weight: bold;
  }

  .date-and-data-info {
    display: flex;
    flex-direction: row;
    .left-item {
      padding-right: 0.5em;
      border-right: solid $gray-100 2px;
      margin-right: 0.5em;
    }
    .lux-badge-gray {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .date-and-data-info li:first-child:after {
    content: "|";
    padding: 0 0.5em;

    float: right;
    border-radius: 0.5em;
    padding: 0.5em 0.75em 0.5em 0.5em;
    text-transform: capitalize;
    font-weight: bold;
  }

  .storage-quota {
    border-radius: 0.5rem;
    &-total {
      font-weight: bold;
    }
    @include media-breakpoint-up(lg) {
      max-width: 75%;
    }

    .quota-header {
      display: flex;
      justify-content: space-between;
    }
  }
  .detail-storage-modal {
    width: 60rem !important;
    .modal-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      gap: 0.5rem;

      .modal-subtitle {
        color: $gray-60;
      }
    }
  }
  .row {
    padding-top: 1.31rem;
    padding-bottom: 1.31rem;
  }
  @mixin detailed-quota-bullet {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.25rem;
    border: 0 solid #e5e7eb;
  }
  @mixin detailed-quota-heading {
    margin-right: 10px;
  }
  .detailed-quota-title {
    color: #121212;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .detailed-quota-subtitle-container {
    display: flex;
    margin-bottom: 1.06rem;
    .detailed-quota-subtitle {
      margin-right: 15em;
      color: $gray-60;
    }
  }
  .detailed-quota-subtypes-free-space {
    display: ruby;
    margin-left: 8rem;
    .subtype-size-free-space {
      color: $gray-60;
      font-size: 0.875rem;
      font-weight: 600;
    }
  }
  .detailed-quota-subtypes {
    display: ruby;
    margin-right: 2em;
    .subtype-text {
      margin-right: 0.5rem;
    }
    .subtype-size {
      color: $gray-60;
      font-size: 0.875rem;
      font-weight: 400;
    }
  }

  .detailed-storage-quota {
    border-radius: 0.5rem;
    &-total {
      font-weight: bold;
    }
    @include media-breakpoint-up(lg) {
      min-width: 100%;
    }
  }
  .project-files {
    @include detailed-quota-bullet;
    @include detailed-quota-heading;
    background: $princeton-orange;
  }

  .old-versions {
    @include detailed-quota-bullet;
    @include detailed-quota-heading;
    background: $progress-bar-bg-old-versions;
  }

  .recycle-bin {
    @include detailed-quota-bullet;
    @include detailed-quota-heading;
    background: $progress-bar-bg-recycle-bin;
  }

  .request-more-btn {
    display: flex;
    padding: 0.25rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.35rem;
    width: 13.2rem;
    height: 1.625rem;
    background: $gray-100;
    border-radius: 0.35rem;
    margin-left: auto;

    @media (max-width: 853px) {
      display: none;
    }

    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: white;
    }
    &:hover {
      background: $gray-60;
    }
    &:active {
      /* Outline properties */
      outline-style: solid;
      outline-color: black;
      outline-width: 1px; /* Adjust outline thickness */
      box-shadow: 0 0 0 0.2rem $white;

      /* Space between button and outline */
      outline-offset: 2px; /* Adjust the offset as needed */
    }
    &:focus {
      border-width: 2px;
      box-shadow: 0 0 0 0.2rem $bright-blue;
      outline-color: $bright-blue;
    }
  }
}
.project-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.latest-download-link {
  margin: 1em 0em 1em 0em;
  display: block;
}

.project-alerts {
  position: absolute;
  top: 17%;
  margin-right: 20px;
}
