@import "variables";
@import "typography";
@import "bootstrap";

#project-contents {
    // table-layout: fixed;
    border: 1px solid $gray-20;
    border-radius: 3px;
    padding: 0rem 0.75rem;
    align-items: center;
    gap: 16px;
    color: $gray-100;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    width: 100%;

    thead {
        background-color: $gray-10;
        overflow: hidden;
        color: $gray-100;
        text-overflow: ellipsis;

        /* Body S Bold */
        font-family: "Libre Franklin";
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem; /* 150% */
    }

    tr {
        border: 1px solid $gray-20;
        overflow: hidden;
        color: $gray-100;
        text-overflow: ellipsis;
    }

    td, th {
        padding: 0.5em 1em;
    }
}

.contents-summary {
    margin: 1rem 0px;
    padding: 0.75rem 1.5rem;
    background-color: $gray-10;

    .file-inventory {
        color: $gray-100;
        font-weight: 600;
    }

    // Note, this can not be a variable
    --bs-border-color: #717171;
}

.content-info {
    color: $gray-100;
    background-color: $status-info;
    padding: 0.5em 1em;

    .bi-info-circle {
        padding-right: 1em;
    }
}

#project-contents {
    margin-bottom: 0.75rem;

    .sorting:hover {
        cursor: pointer;
    }
}

.data-users-title {
    color: $black;
    /* Body L Bold */
    font-family: "Libre Franklin";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem; /* 150% */
 }

 .frame-218 {
    display: inline-flex;
    align-items: flex-start;
    gap: 6.75rem;

    .frame-187 {
       display: flex;
       width: 55.9375rem;
       flex-direction: column;
       align-items: flex-start;
       gap: 0.5rem;

       .table-5 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          border-radius: 0.5rem;
          margin-bottom: -10px; /* not in Figma */

          .table {
             display: flex;
             width: 55.9375rem;
             flex-direction: column;
             align-items: flex-start;
             border-radius: 0.25rem;
             border: 1px solid $gray-20;

             .thead {
                display: flex;
                height: 2.9375rem;
                align-items: flex-start;
                align-self: stretch;
                background: $gray-10;

                .cell {
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: flex-start;
                   flex: 1 0 0;
                   align-self: stretch;
                   background: rgba(255, 255, 255, 0.05);
                   font-weight: 600; /* not in Figma */

                   .content {
                    display: flex;
                    padding: 0.25rem 0.75rem;
                    align-items: flex-start;
                    align-self: stretch;
                   }
                }
             }

             .tbody {
                display: flex;
                height: 2.25rem;
                align-items: flex-start;
                align-self: stretch;
                background: #FFF;

                #row-no-users {
                    display: flex;
                    height: 2.25rem;
                    align-items: flex-start;
                    align-self: stretch;
                    background: #FFF;
                    width: 100%; /* not in Figma */

                    /* cell */
                    #text-no-users {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        flex: 1 0 0;
                        align-self: stretch;
                        background: rgba(255, 255, 255, 0.00);


                        /* content */
                        div {
                            display: flex;
                            padding: 0.625rem 0.75rem;
                            justify-content: center;
                            align-items: center;
                            align-self: stretch;

                            color: var(--Neutral-Dark-Gray, #717171);
                            /* Body XS */
                            font-family: "Libre Franklin";
                            font-size: 0.875rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1.3125rem; /* 150% */
                        }
                    }
                }

                .row-data {
                    display: flex;
                    height: 2.25rem;
                    align-items: flex-start;
                    align-self: stretch;
                    background: var(--Neutral-White, #FFF);

                    .cell {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        flex: 1 0 0;
                        align-self: stretch;

                        .column1 {
                            display: flex;
                            padding: 0.625rem 0.75rem;
                            justify-content: space-between;
                            align-items: center;
                            align-self: stretch;
                        }

                        .column2 {
                            display: flex;
                            padding: 0.625rem 0.75rem;
                            align-items: flex-start;
                            align-self: stretch;
                        }

                        .column3 {
                            display: flex;
                            padding: 0.625rem 0.75rem;
                            align-items: flex-start;
                            align-self: stretch;
                        }

                        .column4 {
                            display: flex;
                            padding: 0.625rem 0.75rem;
                            align-items: center;
                            gap: 0.5rem;
                            align-self: stretch;
                        }
                    }
                }
             }
          }

       }

       .frame-106 {
            display: flex;
            width: 55.9375rem;
            justify-content: space-between;
            align-items: center;

            .frame-252 {
                display: flex;
                align-items: center;
                gap: 0.75rem;

                a {
                    color: var(--Neutral-Black, #121212);
                    /* Body S Bold */
                    font-family: "Libre Franklin";
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 1.5rem; /* 150% */
                }
            }
       }
    }
 }
