@import "variables";
@import "typography";
@import "bootstrap";

.pul-popover-storage {
  width: 55.25rem;
  height: 53.625rem;
  padding: 1.5rem;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0.5rem;
  background: $gray-extra-light;
  box-shadow: 0 10px 24px 0 rgba(25, 25, 25, 0.1);
  border: $gray-10;
}

.pul-popover-storage::backdrop {
  background-color: $gray-100-transparent;
}

.pul-popover-storage:popover-open {
  display: flex;
}

#request-more-storage {
  .storage-request-heading-section {
    display: flex;
    width: 51.5rem;
    height: 1.6875rem;
    justify-content: space-between;
    align-items: center;
  }
  .storage-request-heading {
    width: 18.375rem;
    height: 1.6875rem;
    color: $black;
    font-family: $libre-franklin;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .storage-request-subheading {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; /* 150% */
    margin-right: auto;
  }

  .capacity-section {
    display: flex;
    width: 41.8125rem;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.25rem;
    margin-right: auto;
    .capacity-label {
      line-height: 3rem;
    }
    .size-input {
      width: 7.0625rem;
      height: 2.875rem;
    }
    .unit-input {
      width: 7.0625rem;
      height: 2.875rem;
    }
  }

  .justification-section {
    .justification-note {
      color: #121212;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 0.88rem;
    }
  }
  .growth-expectation-section {
    margin-right: auto;
  }
  .date-needed-section {
    margin-right: auto;
    .date-needed-note {
      color: #121212;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.375rem; /* 137.5% */
      margin-bottom: 0.62rem;
    }
    .lux-date-picker {
      width: 14.625rem;
      height: 2.875rem;
    }
  }
  .form-label {
    height: 1.5rem;
    flex-shrink: 0;
    color: #121212;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .text-area {
    height: 7.375rem;
    width: 51.8125rem;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 0.5rem;
    border: 1px solid var(--Neutral-Medium-Gray, #d0d0d0);
    background: #fff;
  }
  .required {
    color: var(--Secondary-Red-Dark, #b00002);
  }
  .storage-modal-error {
    color: var(--Secondary-Red-Dark, #b00002);
    margin-right: auto;
    margin-top: -1rem;

    /* Body/Body XS */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem; /* 150% */
  }
  .request-more-storage-buttons {
    display: flex;
    height: 2.875rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    @mixin button-styles {
      width: 5.375rem;
      height: 2.3125rem;
      border-radius: 0.25rem;
      border: 1px solid var(--Neutral-Black, #121212);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 600;
    }
    .storage-cancel {
      @include button-styles;
    }
    .storage-submit {
      @include button-styles;
    }
  }
}
