.container{ //Main body of every page
  background-color: rgb(255, 255, 255);
  padding-top: 2em;
  min-height: 81vh;
  display: flex;
  flex-direction: column;
}

@mixin dashboard-component {
  background-color: rgb(168, 167, 167);
  border-radius: 0.1em;
  padding: 1em;
  max-width: 70%;
  max-height: fit-content;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 50px;
  margin-right: 2em;
  max-height: fit-content;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 50px;

  h2 {
    margin-left: 0.2em;
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
}

#dashboard-projects {
  @include dashboard-component;
  min-width: 40em;

  .project-list {
    list-style-type: none;
    a {
      color: black;
    }
  }
  .btn-dark {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
  }
}

#dashboard-activity{
  @include dashboard-component;
  min-height: 15em;
}

#dashboard-pending{
  @include dashboard-component;
  .project-list {
    list-style-type: none;
    a {
      color: black;
    }
  }
  margin-top: 1em;
  min-width: 30em;
}

#dashboard-approved{
  @include dashboard-component;
  margin-top: 1em;
  min-width: 30em;
}


#show{
  .pending-project {
    margin-left: 5em;
}
  .details{
    margin-left: 2em;
  }
  h2 {// Heading for the details div
    margin-left: 0.2em;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    .btn.btn-primary.btn-sm{
      margin-left: 1.5em;
    }
  }
  dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
  }
  dt {
    float: left;
    min-width: calc(25% + 5em);
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
    margin-left: 1em;
    clear: both
  }
  dd{
    margin-bottom: .5rem;
    margin-left: 0;

  }
  p {
    margin-left: 1em;
  }
}

#content{
  dt {
    float: left;
    min-width: calc(25% + 5em);
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
    margin-left: 1em;
    clear: both
  }
  dd{
    margin-bottom: .5rem;
    margin-left: 0;
  }
  .btn.btn-primary.btn-sm{
    margin-left: 1em;
  }
}

#edit{
  .added_user_textbox {
    background-color: #f4f2f2;
    margin-bottom: 2px;
  }

  .delete_icon {
    color: #bb6c6c;
  }

  .add_new_user_textbox {
    margin-left: 30px;
  }

  .add_new_user_div {
    margin-top: -15px;
    margin-bottom: 10px;
  }

  input:valid {
    background-color: palegreen;
  }

  input:invalid {
    background-color: lightpink;
  }
  h2 {// Headings for roles and description
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  .roles-container{
    margin-left: 2em;
  }
  .description-container{
    margin-left: 2em;
  }
  .data-users{
    margin-left: 3em;
  }
  .actions{
    margin-top: 1em;
  }
}
