
.container{ //Main body of every page
  background-color: rgb(255, 255, 255);
  padding-top: 2em;
  min-height: 81vh;
  display: flex;
  flex-direction: column;
}

@mixin dashboard-component {
  background-color: rgb(168, 167, 167);
  border-radius: 0.1em;
  padding: 1em;
  max-width: 70%;
  max-height: fit-content;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 50px;
  margin-right: 2em;
  max-height: fit-content;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 50px;

  h2 {
    margin-left: 0.2em;
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }

  h4 {
    margin-left: 0.2em;
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }

  .project-list {
    list-style-type: none;
    a {
      color: black;
    }
  }
  .sysadmin-list {
    list-style-type: none;
    margin-left: 1.5em;
    a {
      color: black;
    }
  }

  .visible-row {
    visibility: unset;
  }

  .invisible-row {
    visibility: collapse;
  }

  #show-more-sysadmin{
    margin-top: 0.5em;
  }
}

#welcome {
  .emulation {
    display: inline-flex;
  }

  #emulation_bar {
    margin-left: 5px
  }

  #dashboard-projects {
    @include dashboard-component;
    min-width: 40em;
    position: relative;

    .btn-dark {
      margin-left: 0.5em;
      margin-bottom: 0.5em;
      position: absolute;
      bottom: 0px;
    }
  }

  #dashboard-activity{
    @include dashboard-component;
    min-height: 15em;
  }

  #dashboard-pending{
    @include dashboard-component;
    margin-top: 1em;
    min-width: 30em;
  }

}


#show{
  .pending-project {
    margin-left: 5em;
    padding-bottom: 2em;
}
  .details{
    margin-left: 2em;
  }
  .btn.btn-return.btn-sm{
    background-color: white;
    border-color: #0D6EFD;
    border-width: 2px;
  }
  .provenance-header{
    font-weight: bold;
  }
  .provenance{
    display: inline-block;
    margin-right: 23em;
    margin-left: 23.5em;
  }
  .approved-details{
    dt {
      float: left;
      min-width: calc(25% + 55px);
      /* adjust the width; make sure the total of both is 100% */
      padding: 0;
      margin: 0;
      margin-left: 1em;
      clear: both
    }
  }
  h2 {// Heading for the details div
    margin-left: 0.2em;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    .btn.btn-primary.btn-sm{
      margin-left: 1.5em;
    }
  }
  dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
  }
  dl dl {
    padding-left: 2rem;
  }
  dt {
    float: left;
    min-width: calc(25% + 80px);
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
    margin-left: 1em;
    clear: both
  }
  dd{
    margin-bottom: .5rem;
    margin-left: 0;

  }
  p {
    margin-left: 1em;
  }
}

#content{

  #file-list {
    width:90%;
    border: 1px solid gray;
  }

  #file-list > tbody > tr > th {
    background-color: #dddcdc;
  }
  label{
    padding-bottom: .5em;
  }
  dt {
    float: left;
    min-width: calc(25% + 5em);
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
    margin-left: 1em;
    clear: both
  }

  dd{
    margin-bottom: .5rem;
    margin-left: 0;
  }
  .btn.btn-primary.btn-sm{
    margin-left: 1em;
  }

  .project-contents {
    &__summary {
      display: inline;
    }
  }

  .numeric_column {
    text-align: right;
  }

  .visible-row {
    visibility: unset;
  }

  .invisible-row {
    visibility: collapse;
  }
}

#edit{
  .added_user_textbox {
    background-color: #f4f2f2;
    margin-bottom: 2px;
  }

  .delete_icon {
    color: #bb6c6c;
  }

  .add_new_user_textbox {
    margin-left: 30px;
  }

  .add_new_user_div {
    margin-top: -15px;
    margin-bottom: 10px;
  }

  input:valid {
    background-color: palegreen;
  }

  input:invalid {
    background-color: lightpink;
  }
  h2 {// Headings for roles and description
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  .roles-container{
    margin-left: 2em;
  }
  .description-container{
    margin-left: 2em;
  }
  .data-users{
    margin-left: 3em;
  }
  .actions{
    margin-top: 1em;
  }
}

#approve{
  .details{
    margin-left: 2em;
  }
  .provenance{
    display: inline-block;
    margin-right: 23em;
    margin-left: 23.5em;
  }
  .field{
    display: inline-flex;
    margin-bottom: 2em;
  }
  .form-directory{
    min-width: 13em;
  }
  .form-directory-confirm{
    margin-left: 1em;
    min-width: fit-content;
  }
  .form-message{
    min-width: 15em;
    min-height: 3em;
    margin-left: 5px;
  }
  .form-date{
    min-width: 14em;
  }
  .form-dropdown{
    max-width: fit-content;
    margin-right: 1em;
  }
  h2 {// Heading for the details div
    margin-left: 0.2em;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    .btn.btn-primary.btn-sm{
      margin-left: 1.5em;
    }
  }
  dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
  }
  dt {
    float: left;
    min-width: calc(25% + 5em);
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
    margin-left: 1em;
    clear: both
  }
  dd{
    margin-bottom: .5rem;


  }
  p {
    margin-left: 1em;
  }
  label{
    margin-right: 5em;
    max-width: 8em;
    font-weight: bold;
  }
  input{
    .placeholder{
      opacity: 1;
    }
    -webkit-outer-spin-button, -webkit-inner-spin-button {
      display: none;
      margin: 0;
    }
    [type=number]{
      -moz-appearance:textfield;
    }
    width: 10em;
    max-height: 38px;
    margin-right: 5px;
  }
  select{
    max-height: 38px;
  }
  button{
    min-width: 160px;
    min-height: 38px;
  }
  a{
    min-width: 160px;
    min-height: 38px;
  }
}

.login button {
  background-color: #ffc107;
  border-color: #ffc107;
}

#create-script-text {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f2f1f1;
  margin-left: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}
