.project-list {
    list-style-type: none;
    a {
      color: black;
    }
}

.dashboard {
    background-color: lightgray;
    border-radius: 0.1em;
    padding: 0.25em;

    h2 {
      margin-left: 0.2em;
    }

    .btn-primary {
      margin-left: 0.5em;
      margin-bottom: 0.5em;
    }
}

.recent-activity {
    background-color: lightgray;
    border-radius: 0.1em;
    padding: 0.25em;

    h2 {
      margin-left: 0.2em;
    }

    .btn-primary {
      margin-left: 0.5em;
      margin-bottom: 0.5em;
    }
}

.pending-project {
    margin-left: 10em;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
dt {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
  clear: both
}
dd {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0
}
