.project-list {
    list-style-type: none;
    a {
      color: black;
    }
}

.dashboard-section {
    background-color: lightgray;
    border-radius: 0.1em;
    padding: 0.25em;

    h2 {
      margin-left: 0.2em;
    }

    .btn-primary {
      margin-left: 0.5em;
      margin-bottom: 0.5em;
    }
}