@import "variables";
@import "bootstrap";

.colors-section div {
  border: #000000 solid 1px;
  margin: 10px;
  padding-top: 30px;
  padding-left: 10px;
  font-size: 16px;
}

.princeton-orange {
  background-color: $princeton-orange;
  color: #000000;
}

.princeton-orange-80 {
  background-color: $princeton-orange-80;
  color: #000000;
}

.princeton-orange-20 {
  background-color: $princeton-orange-20;
  color: #000000;
}

.cool-gray {
  background-color: $cool-gray;
  color: #ffffff;
}

.cool-gray-80 {
  background-color: $cool-gray-80;
  color: #ffffff;
}

.cool-gray-60 {
  background-color: $cool-gray-60;
  color: #000000;
}

.gray-100 {
  background-color: $gray-100;
  color: #ffffff;
}

.gray-60 {
  background-color: $gray-60;
  color: #ffffff;
}

.gray-20 {
  background-color: $gray-20;
  color: #000000;
}

.gray-10 {
  background-color: $gray-10;
  color: #000000;
}

.white {
  background-color: $white;
  color: #000000;
}

.green-dark {
  background-color: $green-dark;
  color: #000000;
}

.red-dark {
  background-color: $red-dark;
  color: #000000;
}

.yellow {
  background-color: $yellow;
  color: #000000;
}

.blue {
  background-color: $blue;
  color: #000000;
}

.light-blue {
  background-color: $light-blue;
  color: #000000;
}

.status-success {
  background-color: $status-success;
  color: #000000;
}

.status-error {
  background-color: $status-error;
  color: #000000;
}

.status-warning {
  background-color: $status-warning;
  color: #000000;
}

.status-info {
  background-color: $status-info;
  color: #000000;
}
