$princeton-orange: #E77500;
$princeton-orange-80: #EC9133;
$princeton-orange-20: #FAE3CC;

$cool-gray: #091F30;
$cool-gray-80: #3A4C59;
$cool-gray-60: #6B7983;

$gray-100: #121212;
$gray-60: #717171;
$gray-20: #D0D0D0;
$gray-10: #EEEEEE;
$white: #FFFFFF;

$green-dark: #006450;
$red-dark: #B00002;
$yellow: #FBC129;
$blue: #0B7097;
$light-blue: #BED8E2;

$status-success: #DDEDE6;
$status-error: #F3D9D9;
$status-warning: #FFF6DF;
$status-info: #E6EEF8;