@import url(https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap);

$princeton-orange: #e77500;
$princeton-orange-80: #ec9133;
$princeton-orange-20: #fae3cc;

$cool-gray: #091f30;
$cool-gray-80: #3a4c59;
$cool-gray-60: #6b7983;

$gray-100: #121212;
$gray-60: #717171;
$gray-20: #d0d0d0;
$gray-10: #eeeeee;
$white: #ffffff;
$black: #000000;

$green-dark: #006450;
$red-dark: #b00002;
$red-darker: #580405;
$yellow: #fbc129;
$yellow-dark: #56410b;
$blue: #0b7097;
$blue-dark: #013a50;
$light-blue: #bed8e2;

$status-success: #ddede6;
$status-error: #f3d9d9;
$status-warning: #fff6df;
$status-info: #e6eef8;

$libre-franklin: "Libre Franklin", sans-serif;

$progress-bar-bg: $princeton-orange;
$progress-height: 2rem;
