@import "variables";
@import "typography";
@import "bootstrap";

.wizard {
  display: flex;
  padding: 1.5rem 7.5rem 6.25rem 7.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  nav {
    display: flex;
    height: 1.8125rem;
    padding: 0.25rem 0rem;
    align-items: center;
    gap: 0.625rem;
  }
  .heading-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;

    .heading-text {
      color: $gray-100;

      /* Heading 1 */
      font-family: $libre-franklin;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 3rem; /* 120% */
    }

    .deco-line {
      width: 6.25rem;
      height: 0.5rem;
      background: $princeton-orange;
    }
  }
  .main-frame {
    display: flex;
    height: 45.6875rem;
    align-items: flex-start;
    gap: 1.25rem;
    align-self: stretch;

    .form-panel {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.25rem;
      align-self: stretch;
      flex-grow: 1;

      .scrollable-frame {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;
        flex: 1 0 0;
        align-self: stretch;

        .form-header {
          display: flex;
          padding: 0.75rem 0rem 1.5rem 0rem;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.75rem;
          align-self: stretch;
          border-bottom: 1px solid $gray-20;
          background: $white;

          .form-title {
            display: flex;
            align-items: flex-end;
            gap: 0.5rem;
            align-self: stretch;

            .form-text {
              color: $gray-100;

              /* Heading 4 */
              font-family: $libre-franklin;
              font-size: 1.5rem;
              font-style: normal;
              font-weight: 600;
              line-height: 1.75rem; /* 116.667% */
            }

            .form-optional {
              color: $gray-60;

              /* Heading 4 */
              font-family: $libre-franklin;
              font-size: 1.5rem;
              font-style: normal;
              font-weight: 600;
              line-height: 1.75rem; /* 116.667% */
            }
          }
          .form-description {
            color: $gray-60;

            /* Body S */
            font-family: $libre-franklin;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem; /* 150% */
          }
        }

        .form-frame {
          display: flex;
          height: 33.1875rem;
          flex-direction: column;
          align-items: flex-start;
          gap: 2.5rem;
          align-self: stretch;
          overflow-y: scroll;
          scrollbar-width: thin;

          .section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
            align-self: stretch;

            .section-frame {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 0.75rem;

              color: $black;

              /* Heading 5 */
              font-family: $libre-franklin;
              font-size: 1.25rem;
              font-style: normal;
              font-weight: 600;
              line-height: 1.5rem; /* 120% */
            }
          }

          .section-line {
            width: 55.9375rem;
            height: 0.0625rem;
            background: $gray-10;
          }
        }
      }

      .form-field {
        display: flex;
        align-items: flex-start;
        gap: 1.25rem;
        align-self: stretch;

        .field-info {
          display: flex;
          width: 11.4375rem;
          flex-direction: column;
          align-items: flex-start;

          .field-label {
            color: $gray-100;

            /* Body Bold */
            font-family: $libre-franklin;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.6875rem; /* 150% */
          }

          .field-sub-label {
            width: 8.375rem;
            color: $gray-60;

            /* Body XS */
            font-family: $libre-franklin;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.3125rem; /* 150% */
          }
        }

        .input-label {
          display: flex;
          align-items: center;
          gap: 0.25rem;

          .label {
            color: $gray-60;

            /* Body XS Bold */
            font-family: $libre-franklin;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.3125rem; /* 150% */
          }
          .info {
            width: 1.5rem;
            height: 1.5rem;
            aspect-ratio: 1/1;
            background: url("info.svg") no-repeat;
          }

          .info {
            position: relative; /* Required for the pseudo-element to be positioned relative to the div */
            display: inline-block; /* Or block, depending on your layout */
          }

          .info::after {
            content: attr(data-tooltip); /* Pulls the text from the data-tooltip attribute */
            visibility: hidden;
            position: absolute;
            left: 750%; /* Positions the tooltip to the right div */
            bottom: -100%; /* Positions the tooltip above the div */
            transform: translateX(-50%);

            /* Styling for the tooltip box */
            background-color: #333;
            color: #fff;
            font-size: 12px;
            padding: 8px 12px;
            border-radius: 4px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            @supports (-webkit-line-clamp: 4) {
              overflow: hidden;
              width: 20rem;
              text-overflow: ellipsis;
              white-space: initial;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 4;
            }
            z-index: 1; /* Ensures the tooltip is on top of other content */
          }

          .info:hover::after {
            visibility: visible;
          }
        }

        .input-frame {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;
          flex: 1 0 0;
          .text-input {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.25rem;
            .horizontal-frame {
              display: flex;
              align-items: flex-start;
              gap: 0.25rem;
              align-self: stretch;
              .vertical-frame {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.25rem;
                flex: 1 0 0;
                datalist {
                  overflow-y: auto;  /* Add a vertical scrollbar if content exceeds max-height */
                  display: block;    /* Ensure the datalist behaves like a block-level element for overflow to work */
                  scrollbar-color: #651a1a rgba(238, 238, 238, 0.6);
                }
                .form-input {
                  display: flex;
                  width: 36.875rem;
                  flex-direction: column;
                  align-items: flex-start;
                  gap: 0.25rem;
                }
                .char-limit {
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  align-self: stretch;
                  .char-limit-text {
                    color: $gray-60;

                    /* Body XXS */
                    font-family: $libre-franklin;
                    font-size: 0.75rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.125rem; /* 150% */
                  }
                }
                .counted-input-error {
                  color: $red-dark !important;
                }
                .error-and-count {
                  .input-error {
                    flex-basis: 80%;
                  }
                }
              }
            }
          }
          .input-error {
            color: var(--Secondary-Red-Dark, #b00002);

            /* Body XXS */
            font-family: $libre-franklin;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.125rem; /* 150% */
          }
          .number-input {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.25rem;
            flex: 1 0 0;
          }
          .project-directory {
            display: flex;
            width: 38.625rem;
            align-items: center;
            gap: 0.5rem;
            .parent-folder {
              display: flex;
              width: 15rem;
              flex-direction: column;
              align-items: flex-start;
              gap: 0.25rem;
              flex-shrink: 0;
            }
            .project-folder {
              display: flex;
              width: 23.125rem;
              flex-direction: column;
              align-items: flex-start;
              gap: 0.25rem;
              flex-shrink: 0;
            }
          }
        }

        .storage-frame {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.75rem;
          flex: 1 0 0;

          .options-frame {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
            align-self: stretch;

            .quota-select {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              align-self: stretch;
            }

            .quota-option {
              display: flex;
              padding: 0.5rem 0.75rem;
              justify-content: center;
              align-items: center;
              gap: 0.625rem;
              flex: 1 0 0;
            }
          }

          .quota-select input[type="radio"] {
            opacity: 0;
            position: fixed;
            width: 0;
          }
          .quota-select label {
            border-radius: 0.5rem;
            border: 1px solid $gray-20;
            background: $white;
            display: flex;
            padding: 0.5rem 0.75rem;
            justify-content: center;
            align-items: center;
            gap: 0.625rem;
            flex: 1 0 0;
            color: $gray-100;

            /* Body S */
            font-family: $libre-franklin;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem; /* 150% */
          }

          .quota-select input[type="radio"]:checked + label {
            border-radius: 0.5rem;
            border: 1px solid $princeton-orange;
            background: $white;
          }

          .hidden-div {
            display: flex;
            align-items: center;
            gap: 2.5rem;
            align-self: stretch;

            .custom-quota {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              flex: 1 0 0;
              width: 100%;
              padding: 1rem;
            }
          }
        }

        .selected-items {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.25rem;
          list-style-type: none;
          padding-left: 0;
          width: 100%;

          .selected-item {
            display: flex;
            height: 2.25rem;
            padding: 0.25rem 0.75rem;
            align-items: center;
            gap: 1.25rem;
            border-radius: 0.25rem;
            background: $gray-10;
            width: 100%;
          }
        }
        .remove-item {
          width: 1rem;
          height: 1rem;
          flex-shrink: 0;
          cursor: pointer;
          background: url("remove.svg") no-repeat;
        }
        .user-input-display {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;
          align-self: stretch;

          .user-table {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            border-radius: 0.25rem;
            border: 1px solid $gray-20;

            .row {
              align-self: stretch;
            }

            .no-users {
              text-align: center;
            }

            .user-heading {
              display: flex;
              padding: 0.25rem 0;
              align-items: flex-start;
              align-self: stretch;
              background: var(--Neutral-Light-Gray, $gray-10);
            }

            .user-cell.cell {
              width: 18.75rem;
            }

            .cell {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              flex: 1 0 0;
              align-self: stretch;
            }

            .content {
              display: flex;
              padding: 0.25rem 0.75rem;
              align-items: flex-start;

              .no-users-text {
                flex: auto;
              }

              .user-heading {
                flex: 1 0 0;
                color: $black;

                /* Body S Bold */
                font-family: $libre-franklin;
                font-size: 1rem;
                font-style: normal;
                font-weight: 600;
                line-height: 1.5rem; /* 150% */
              }
            }
          }

          .user-info {
            color: $gray-60;

            /* Body XS */
            font-family: $libre-franklin;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.3125rem; /* 150% */
          }

          .user-add-prompt {
            display: flex;
            align-items: flex-start;
            gap: 0.75rem;
            align-self: stretch;
            position: relative;
          }

          .add-users {
            padding-left: 2rem;
          }

          .user-add-prompt::before {
            align-self: flex-start;
            content: "";
            background: url("add.svg") no-repeat;
            width: 20px;
            height: 20px;
            pointer-events: none;
            position: absolute;
          }
        }
      }

      .button-frame {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .right-frame {
          display: flex;
          align-items: center;
          gap: 0.75rem;
        }
      }

      .save-and-exit {
        .button-frame {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 0.75rem;
          align-self: stretch;
        }
        #project-title-char-limit {
          display: none;
        }
      }

      .form-field-label-vertical-container {
        width: 11.438rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        display: inline-flex;
      }

      .form-field-label-vertical-text {
        align-self: stretch;
        justify-content: center;
        display: flex;
        flex-direction: column;
        color: $black;
        font-size: 1.125rem;
        font-family: $libre-franklin;
        font-weight: 600;
        line-height: 1.688rem;
        word-wrap: break-word;
      }

      .form-field-element-vertical-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5rem;
        display: inline-flex;
      }

      .estimated-files-dropdown {
        align-self: stretch;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.625rem;
        display: flex;
      }

      .estimated-files-dropdown-subcontainer {
        align-self: stretch;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.25rem;
        display: flex;
      }

      .estimated-files-inline-subcontainer {
        align-self: stretch;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background: $white;
        border-radius: 0.5rem;
        outline: 1px $gray-20 solid;
        outline-offset: -1px;
        justify-content: space-between;
        align-items: center;
        display: inline-flex;
      }

      .storage-form-field-text {
        color: $black;
        font-size: 1rem;
        font-family: $libre-franklin;
        font-weight: 400;
        line-height: 1.5rem;
        word-wrap: break-word;
      }

      .storage-tooltip {
        width: 100%;
        color: $gray-60;
        font-size: 0.875rem;
        font-family: $libre-franklin;
        font-weight: 400;
        line-height: 1.313rem;
        word-wrap: break-word;
      }

      .connection-options-text-container {
        flex: 1 1 0;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.25rem;
        display: inline-flex;
      }

      .connection-options-text {
        justify-content: center;
        display: flex;
        flex-direction: column;
        color: $black;
        font-size: 1rem;
        font-family: Libre Franklin;
        font-weight: 600;
        line-height: 1.5rem;
        word-wrap: break-word;
      }

      .connection-options-radio-buttons-container {
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.25rem;
        display: inline-flex;
      }

      .storage-options-section {
        justify-content: flex-start;
        align-items: center;
        gap: 1.25rem;
        display: inline-flex;
      }

      .storage-type-options {
        align-self: stretch;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2.5rem;
        display: flex;
      }

      .storage-type-option-container {
        width: 43.25rem;
        overflow: hidden;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.25rem;
        display: inline-flex;
      }

      .storage-option-radio-button-container {
        justify-content: flex-start;
        align-items: center;
        gap: 0.25rem;
        display: flex;
      }

      .storage-option-radio-button {
        width: 1.5rem;
        height: 1.5rem;
        position: relative;
        overflow: hidden;
      }
    }
  }
}

.pul-popover {
  width: 50rem;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 10px 24px 0 rgba(25, 25, 25, 0.1);
}

.pul-popover::backdrop {
  background-color: $gray-100-transparent;
}

.pul-popover:popover-open {
  display: flex;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
  .modal-title-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .model-title {
      color: $black;

      /* Heading 4 */
      font-family: $libre-franklin;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.75rem; /* 116.667% */
    }
  }

  .modal-body-text {
    color: $black;

    /* Body S */
    font-family: $libre-franklin;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
  }
  .modal-title-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    .form-field {
      flex-direction: column;
      display: flex;
      align-items: flex-start;
      gap: 1.25rem;
      align-self: stretch;

      .field-info {
        width: auto;
        flex-direction: row;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        align-self: stretch;
      }

      .input-frame {
        display: flex;
        align-items: flex-start;
        gap: 0.25rem;
        align-self: stretch;

        .text-input {
          align-self: stretch;

          .form-input {
            width: 100%;
          }
        }
      }
    }
  }
}

.pul-popover-close {
  width: 1.5rem;
  height: 1.5rem;
  background: url("remove.svg") no-repeat;
  border: none;
  background-size: cover;
  &:hover {
    background-color: $gray-15;
  }
}

.sidebar-width {
  width: 17.8125rem;
}

/* NOTE - Values within the New Project Wizard sidebar need to be measured in pixels to maintain the layout */

#new-project-wizard-sidebar {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: $gray-5;
  overflow: hidden;
  border-radius: 12px;
  justify-content: center;
  align-items: flex-start;
  display: inline-flex;
}

.sidebar-container {
  flex: 1 1 0;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
}

.expanded-state {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: flex;
}

.unexpanded-state {
  align-self: stretch;
  height: 28px;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: inline-flex;
}

.step-container {
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: inline-flex;
}

.step {
  width: 217px;
  height: 28px;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: flex;
}

.step-number-completed {
  width: 28px;
  height: 28px;
  background: $princeton-orange-80;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.step-number-current {
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 14px;
  border: 2px solid $princeton-orange-80;
  background: $white;
}

.step-number-incomplete {
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 14px;
  background: $gray-20;
}

.step-number-value {
  color: $black;
  font-size: 14px;
  font-family: $libre-franklin;
  font-weight: 600;
  line-height: 21px;
  word-wrap: break-word;
}

.step-text-container {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.step-text,
.step-text a:link,
.step-text a:visited {
  color: $black;
  font-size: 14px;
  font-family: $libre-franklin;
  font-weight: 600;
  line-height: 21px;
  word-wrap: break-word;
  text-decoration: none;
}

.step-text a:hover {
  text-decoration: underline;
}

.step-expanded-container {
  width: 16px;
  height: 16px;
  overflow: hidden;
  background: url("expanded-icon.svg") no-repeat;
  border: none;
  background-position: center center;
  background-repeat: no-repeat;
}

.step-expanded {
  width: 4px;
  height: 8px;
  left: 12px;
  top: 6px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: top left;
  outline: 1.33px $black solid;
  outline-offset: -0.67px;
}

.substeps-container {
  width: 217px;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: flex;
}

.connector-line {
  width: 1rem;
  height: 0px;
  left: 49px;
  top: 16px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: top left;
  outline: 1px $gray-20 solid;
  outline-offset: -0.5px;
}

.substep-container {
  width: 217px;
  height: 20px;
  padding-left: 40px;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: inline-flex;
}

.substep-indicator-container {
  width: 20px;
  height: 20px;
  position: relative;
}

.substep-indicator-completed {
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: $princeton-orange-80;
  border-radius: 9999px;
}

.substep-indicator-current {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 14px;
  border: 2px solid $princeton-orange-80;
  background: $white;
}

.substep-indicator-incomplete {
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: $gray-20;
  border-radius: 9999px;
}

.substep-text,
.substep-text a:link,
.substep-text a:visited {
  color: $black;
  font-size: 12px;
  font-family: $libre-franklin;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
  text-decoration: none;
}

.substep-text a:hover {
  text-decoration: underline;
}

.substep-text-current,
.substep-text-current a:link,
.substep-text-current a:visited {
  color: $black;
  font-size: 12px;
  font-family: $libre-franklin;
  font-weight: 600;
  line-height: 18px;
  word-wrap: break-word;
  text-decoration: none;
}

.substep-text-current a:hover {
  text-decoration: underline;
}
