/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap";
@import "variables";

@import "alternate_mediaflux";
@import "banner";
@import "components/breadcrumbs";
@import "components/mediaflux_status";
@import "dashboard";
@import "emulator";
@import "footer";
@import "forms";
@import "header";
@import "projects";
@import "project";
@import "settings";
@import "styles_preview";
@import "typography";
@import "welcome_portal";

body {
  font-family: $libre-franklin;
  color: $black;

  .main-content {
    display: flex;
    padding: 3rem 7.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
  }

  /* removes horizontal scroll */
  .row {
    --bs-gutter-x: 0 !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $libre-franklin !important;
  font-weight: 600;
}

.heading-decoration {
  background-color: $princeton-orange;
  width: 100px;
  height: 8px;
  margin-bottom: 12px;
}

.hidden-element {
  display: none !important;
}

.netid-large {
  border-radius: 0.625em;
  background-color: $gray-10;
  padding: 0rem 0.375em;
  justify-content: center;
  align-items: center;
}

/* These are the styles used by the jQuery autocomplete plug-in */
.autocomplete-suggestions {
  border: 1px solid #999;
  background: #fff;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #f0f0f0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399ff;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

/*
 * Adds the arrow to the autocomplete textbox.
 * Notice that since CSS does not allow ::after on HTML <input> we apply this style to an HTML <span>.
 * See https://stackoverflow.com/questions/2587669/can-i-use-a-before-or-after-pseudo-element-on-an-input-field
 */
.autocomplete-arrow::after {
  content: "▾";
  margin-left: -20px;
}

.autocomplete-error {
  color: var(--Secondary-Red-Dark, #b00002);
}
