@import "variables";
@import "typography";
@import "bootstrap";

.request-fields {
  padding-top: 30px;
  list-style-type: none;
  width: 75rem;
  height: auto;
  flex-shrink: 0;
  padding-left: 0rem;
}

@mixin heading-style {
  color: var(--Neutral-Black, #121212);

  /* Body Bold */
  font-family: "Libre Franklin";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6875rem; /* 150% */
  margin-bottom: 1.5rem;
}

.detail-heading {
  @include heading-style;
}

.detail-subheading {
  @include heading-style;
  font-size: 1rem;
  line-height: 1.5rem; /* 150% */
  width: 11.5rem;
  margin-right: 1.25rem;
}

.storage-heading {
  @include heading-style;
  font-weight: 400;
  width: 11.5rem;
  margin-right: 1.25rem;
}

.detail-value {
  @include heading-style;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.detail-pair {
  display: flex;
  gap: 0.5rem;
}

.line-break {
  width: 75rem;
  height: 0;
  stroke-width: 1px;
  stroke: var(--Neutral-Light-Gray, #EEE);
  background: url("stroke.svg") no-repeat;
}



.horizontal-frame {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
}

.heading-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;

  .heading-text {
    color: $gray-100;
    /* Heading 1 */
    font-family: $libre-franklin;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem; /* 120% */
  }

  .deco-line {
    width: 6.25rem;
    height: 0.5rem;
    background: $princeton-orange;
  }

  .request-description {
    /* Body S */
    font-family: $libre-franklin;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    padding: 1.5rem 0rem;
  }
}

.cancel {
  color: $gray-60;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    color: $gray-60;
  }
}
