<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>

    <%
=begin%>
  Yield to the view template for the specific email being sent.
  View templates are located in app/views/tigerdata_mailer/...
<%
=end%>
    <%= yield %>
  </body>
</html>
